
{% extends "./layout_backtostart.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">ILR FileMerge
      <span class="govuk-caption-xl">Formerly known as the amalgamation tool.</span>
    </h1>
    <p>ILR FileMerge is for learning providers who return Individualised Learner Records (ILR). Use it to combine .xml files into a single file for upload to the Funding Information Service (FIS) or Submit Learner Data.</p>

  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <span id="waste-hint" class="govuk-hint">
              Filter by year
            </span>
            <div id="yearFilter" class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input id="21" class="govuk-checkboxes__input" name="waste" type="checkbox" value="21">
                <label class="govuk-label govuk-checkboxes__label" for="21">
                  2020 to 2021
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input id="20" class="govuk-checkboxes__input" name="waste" type="checkbox" value="20">
                <label class="govuk-label govuk-checkboxes__label" for="20">
                  2019 to 2020
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

        <table class="govuk-table year-groups 21">
          <caption class="govuk-table__caption govuk-heading-m">Academic year 2020 to 2021</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Version number</th>
              <!-- <th class="govuk-table__header" scope="col">Academic year</th> -->
              <th class="govuk-table__header" scope="col">Date and time uploaded</th>
              <th class="govuk-table__header" scope="col">Download link</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">2.0</th>
              <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
              <td class="govuk-table__cell">7 August 2019 at 12:56:43</td>
              <td class="govuk-table__cell"><a href="#">Download 2.0</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">1.7</th>
              <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
              <td class="govuk-table__cell ">1 August 2019 at 17:31:16</td>
              <td class="govuk-table__cell "><a href="#">Download 1.7</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">1.4</th>
              <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
              <td class="govuk-table__cell ">31 July 2019 at 15:07:35</td>
              <td class="govuk-table__cell "><a href="#">Download 1.4</a></td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table year-groups 20">
          <caption class="govuk-table__caption govuk-heading-m">Academic year 2019 to 2020</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Version number</th>
    <!-- <th class="govuk-table__header" scope="col">Academic year</th> -->
    <th class="govuk-table__header" scope="col">Date and time uploaded</th>
    <th class="govuk-table__header" scope="col">Download link</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">1.3</th>
    <!-- <th class="govuk-table__header">2019 to 2020</th> -->
    <td class="govuk-table__cell" scope="row">7 August 2019 at 12:56:43</td>
    <td class="govuk-table__cell"><a href="#">Download 1.3</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header">2.3</th>
    <!-- <th class="govuk-table__header">2019 to 2020</th> -->
    <td class="govuk-table__cell" scope="row">1 August 2019 at 17:31:16</td>
    <td class="govuk-table__cell"><a href="#">Download 2.3</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header">2.0</th>
    <!-- <th class="govuk-table__header">2019 to 2020</th> -->
    <td class="govuk-table__cell" scope="row">31 July 2019 at 15:07:35</td>
    <td class="govuk-table__cell"><a href="#">Download 2.0</a></td>
  </tr>


</tbody>
</table>

<p>Tell us your thoughts, <a target="blank" href="https://www.smartsurvey.co.uk/s/ILRFileMerge/">take 5 minutes to answer a few questions</a></p>


  </div>



</div>

<script>

</script>

{% endblock %}
