
{% extends "./layout_backtowhat.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        


 <div class="govuk-grid-row flex">

    <div id="left-nav-wrapper" class="govuk-grid-column-one-quarter flex-grow-1"> 
      {% include "./includes/left-nav.html" %}
    </div>

   <div class="govuk-grid-column-three-quarters flex-grow-1">

    <div class="govuk-form-group">

                                

      <h2 class="govuk-heading-l" id="reports">Reports archive</h2>
      
      <p>Your previous funding reports from successful submissions on the Hub.</p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <span id="waste-hint" class="govuk-hint">
            Filter by year
          </span>
          <div id="yearFilter" class="govuk-checkboxes govuk-checkboxes--small wrap">
            <div class="govuk-checkboxes__item third">
              <input id="19" class="govuk-checkboxes__input" name="waste" type="checkbox" value="19">
              <label class="govuk-label govuk-checkboxes__label" for="19">
                2018 to 2019
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input id="18" class="govuk-checkboxes__input" name="waste" type="checkbox" value="18">
              <label class="govuk-label govuk-checkboxes__label" for="18">
                2017 to 2018
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input id="17" class="govuk-checkboxes__input" name="waste" type="checkbox" value="17">
              <label class="govuk-label govuk-checkboxes__label" for="17">
                2016 to 2017
              </label>
            </div>
            
            <div class="govuk-checkboxes__item">
              <input id="16" class="govuk-checkboxes__input" name="waste" type="checkbox" value="16">
              <label class="govuk-label govuk-checkboxes__label" for="16">
                2015 to 2016
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input id="16" class="govuk-checkboxes__input" name="waste" type="checkbox" value="15">
              <label class="govuk-label govuk-checkboxes__label" for="15">
                2014 to 2015
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input id="16" class="govuk-checkboxes__input" name="waste" type="checkbox" value="14">
              <label class="govuk-label govuk-checkboxes__label" for="14">
                2013 to 2014
              </label>
            </div>
          </div>
        </fieldset>
      </div>
              
              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                    <div class="year-groups 19">
                      <table id="customTable" class="govuk-table">
                          <caption class="govuk-table__caption govuk-heading-m">Reports for year 2018 to 2019</caption>
                          <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="col">Return period</th>
                                  <th class="govuk-table__header" scope="col">Download</th>
                              </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R14</th>
                                      <td class="govuk-table__cell">
                                        <a href="#">Period end Reports_R14.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"> </th>
                                      <td class="govuk-table__cell">
                                        <a href="#">ILR Reports_R14.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"> </th>
                                      <td class="govuk-table__cell">
                                            <a href="#">EAS Reports_R14.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"></th>
                                      <td class="govuk-table__cell">
                                            <a href="#">ESF Reports_R14.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R13</th>
                                      <td class="govuk-table__cell">
                                        <a href="#">Period end Reports_R13.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R13.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R13.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R13.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R12</th>
                                      <td class="govuk-table__cell">
                                        <a href="#">Period end Reports_R12.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R12.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R12.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R12.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R11</th>
                                      <td class="govuk-table__cell">
                                        <a href="#">Period end Reports_R11.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R11.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R11.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R11.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R10</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R10.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R10.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R10.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R10.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R09</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R09.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R09.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R09.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R09.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R08</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R08.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R08.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R08.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R08.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R07</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R07.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R07.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R07.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R07.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R06</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R06.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R06.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R06.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R06.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R05</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R05.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R05.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R05.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R05.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R04</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R04.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R04.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R04.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R04.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R03</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R03.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R03.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R03.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R03.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R02</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R02.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R02.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R02.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R02.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                                  <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row">R01</th>
                                      <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R01.zip</a>
                                        <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                      </td>
                                  </tr>
                                  <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R01.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R01.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R01.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>


                          </tbody>
                      </table>
                    </div>

                    <div class="year-groups 18">
                      <table id="customTable" class="govuk-table">
                            <caption class="govuk-table__caption govuk-heading-m">Reports for year 2017 to 2018</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Return period</th>
                                    <th class="govuk-table__header" scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">R14</th>
                                        <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                   
                            </tbody>
                      </table>
                    </div>

                    <div class="year-groups 17">
                      <table id="customTable" class="govuk-table">
                            <caption class="govuk-table__caption govuk-heading-m">Reports for year 2016 to 2017</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Return period</th>
                                    <th class="govuk-table__header" scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">R14</th>
                                        <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                   
                            </tbody>
                      </table>
                    </div>

                    <div class="year-groups 16">
                      <table id="customTable" class="govuk-table">
                            <caption class="govuk-table__caption govuk-heading-m">Reports for year 2015 to 2016</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Return period</th>
                                    <th class="govuk-table__header" scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">R14</th>
                                        <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                   
                            </tbody>
                      </table>
                    </div>

                    <div class="year-groups 15">
                      <table id="customTable" class="govuk-table">
                            <caption class="govuk-table__caption govuk-heading-m">Reports for year 2014 to 2015</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Return period</th>
                                    <th class="govuk-table__header" scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">R14</th>
                                        <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                   
                            </tbody>
                      </table>
                    </div>

                    <div class="year-groups 14">
                      <table id="customTable" class="govuk-table">
                            <caption class="govuk-table__caption govuk-heading-m">Reports for year 2013 to 2014</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Return period</th>
                                    <th class="govuk-table__header" scope="col">Download</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">R14</th>
                                        <td class="govuk-table__cell">
                                          <a href="#">Period end Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                          <a href="#">ILR Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"> </th>
                                        <td class="govuk-table__cell">
                                              <a href="#">EAS Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"></th>
                                        <td class="govuk-table__cell">
                                              <a href="#">ESF Reports_R14.zip</a>
                                          <span class="govuk-!-font-size-16">(Zip, 0.02 KB)</span>
                                        </td>
                                    </tr>
                                   
                            </tbody>
                      </table>
                    </div>
                  </div>
              </div>
      
      
      
      
      
                                          
</div>

  </div>
</div>

<h3 class="govuk-heading-s">ESFA support desk</h3>
<p>For help and support call us on 0370 267 0001, Monday to Thursday, 8:30am-5pm,<br> or Fridays, 8.30am-4pm. Or
<!-- <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p> -->
log a query on the <a target="blank" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">enquiry form</a>.</p>


</div>

</div>

{% endblock %}
