{% extends "./layout_backtostart.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">FIS (Funding Information Service) tool</h1>
    <p>FIS is a desktop application for the Education and Skills Funding Agency's data collections system. Providers can use it to validate Individualised Learner Record (ILR) data.</p>



    <!-- <p class="govuk-!-font-weight-bold"><a href="https://dsdownload.des.fasst.org.uk/Funding%20Information%20System%20Prerequisites.exe">Download the latest FIS tool</a></p>
    <span class="govuk-body">Uploaded on 04 September 2020 14:49:22</span>
    <br><br><br> -->
    <!-- <h2 class="govuk-heading-s"></h2> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class="govuk-heading-m">Older versions of the FIS tool</h2> -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="year-filters">
        <span class="govuk-body govuk-!-font-weight-bold">Filter by year</span>
      
      <span id="waste-hint" class="govuk-hint">
        Choosing a filter will result in the page refreshing automatically
      </span>
        <div id="yearFilter" class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input id="21" class="govuk-checkboxes__input" name="2021" type="checkbox" value="21">
            <label class="govuk-label govuk-checkboxes__label" for="21">
              2020 to 2021  
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input id="20" class="govuk-checkboxes__input" name="2020" type="checkbox" value="20">
            <label class="govuk-label govuk-checkboxes__label" for="20">
              2019 to 2020
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>
    
  <table class="govuk-table year-groups 21">
    <caption class="govuk-table__caption govuk-heading-m">Academic year 2020 to 2021</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <!-- <th class="govuk-table__header" scope="col">Academic year</th> -->
        <th class="govuk-table__header" scope="col">Date and time uploaded</th>
        <th class="govuk-table__header" scope="col">Download link</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0064</th>
        <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
        <td class="govuk-table__cell">7 August 2020 at 12:56:43</td>
        <td class="govuk-table__cell"><a href="#">Download 0.2.3.0064</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0048</th>
        <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
        <td class="govuk-table__cell ">1 August 2020 at 17:31:16</td>
        <td class="govuk-table__cell "><a href="#">Download 0.2.3.0048</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0042</th>
        <!-- <th class="govuk-table__header" scope="row">2020 to 2021</th> -->
        <td class="govuk-table__cell ">31 July 2020 at 15:07:35</td>
        <td class="govuk-table__cell "><a href="#">Download 0.2.3.0042</a></td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table year-groups 20">
    <caption class="govuk-table__caption govuk-heading-m">Academic year 2019 to 2020</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Version</th>
        <!-- <th class="govuk-table__header" scope="col">Academic year</th> -->
        <th class="govuk-table__header" scope="col">Date and time uploaded</th>
        <th class="govuk-table__header" scope="col">Download link</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0040</th>
        <!-- <th class="govuk-table__header" scope="row">2019 to 2020</th> -->
        <td class="govuk-table__cell">7 August 2019 12:56:43</td>
        <td class="govuk-table__cell"><a href="#">Download 0.2.3.0040</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0025</th>
        <!-- <th class="govuk-table__header" scope="row">2019 to 2020</th> -->
        <td class="govuk-table__cell ">1 August 2019 17:31:16</td>
        <td class="govuk-table__cell "><a href="#">Download 0.2.3.0025</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">0.2.3.0016</th>
        <!-- <th class="govuk-table__header" scope="row">2019 to 2020</th> -->
        <td class="govuk-table__cell ">31 July 2019 15:07:35</td>
        <td class="govuk-table__cell "><a href="#">Download 0.2.3.0016</a></td>
      </tr>
    </tbody>
  </table>

  <p>You can access versions of FIS for previous years on <a href="https://hub.fasst.org.uk/Pages/fis.aspx" target="_blank">The Hub</a>.</p>

  <p>Tell us your thoughts, <a target="blank" href="https://www.smartsurvey.co.uk/s/1920FIS/">take 5 minutes to answer a few questions</a></p>

  </div>



</div>

<script>

</script>

{% endblock %}
