
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Announcements</h2>
      <p> <strong> R02 closing date has changed </strong><br>
         From 9 October 2019 to 10 October 2019 at 6.00pm. </p>
         

      <h2 class="govuk-heading-m">Data watch</h2>
      <p>
      <strong>Validation rule - EPAOrglS_01</strong> <br>
      This rule has been updated, you may need to resubmit your file.
      </p>

      <h2 class="govuk-heading-m">New service issues</h2>
      <p><strong>Duplicate Rule Violation reports</strong><br>
      The Rule Violation Report appears twice in the reports.zip file with different time stamps. Use the file with the latest time stamp.</p>
    <br><br>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste-1">
            I have acknowledged the announcements
          </label>
        </div>
      </div>
    <br><br>
      <a id="ilrItnButton" href="#" class="govuk-button">
        Continue
      </a>
    </div>

	  <div class="govuk-grid-column-one-third">
      <div class="grey-box">
        <h2 class="govuk-heading-m">Fixed service issues</h2>
        <p><strong>Funding summary report</strong><br>
          The year to date total now displays correctly.</p>
      </div>
    </div>


    </div>

</div>

{% endblock %}
