
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-xl">
    Checking for errors...
  </h2>

	  <!--<p>{{ uploadingFile }}</p>-->
	  <p><img src="/public/images/spinner-gif-13.gif"/></p>

        <script type="text/javascript">
    function Redirect()
    {
        window.location="./theres_a_problem_datamatch.html";
        // above url was ./ilr_data_submitted_clean //
    }
    setTimeout('Redirect()', 3000);
</script>


    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>

</div>

{% endblock %}
