<style>
  .govuk-header__container {
      margin-bottom: 0;
      padding-top: 10px;
      border-bottom: 0;
  }

  .govuk-header {
    border-bottom: 0;
  }
</style>
<div class="feedback-wrapper">
  <div class="feedback-container">
    <span class="govuk-heading-s">Tell us what you thought</span>
    <a href="https://www.smartsurvey.co.uk/s/dct-beta-feedback/" target="_blank">Take 5 minutes to answer a few questions</a>

    <a class="no-thank-you" href="#">No thank you</a>
  </div>
</div>
<div class="blue-strip">

</div>
