// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

@import "helpers/inverse";
@import "helpers/tables";
// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/funding-claims";
@import "patterns/custom";
@import "patterns/custom-tiles";
@import "patterns/step-by-step-navigation";

// @import "patterns/message-banner";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/button";
@import "components/summary-variants";
@import "components/table";
@import "components/tables";
//@import "components/date-filter";
//@import "components/option-select";
@import "components/document-list";
@import "components/tiles";
@import "components/accordion";
@import "components/taxon-banner";
@import "components/information-banner";
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.blue-box {
    background-color: $govuk-link-colour;
    padding: 10px;

    span, a {
    color: white;
    }
}

.green-text {
   color: govuk-colour("green");
}


.govuk-table__header--numeric, .govuk-table__cell--numeric {
    border-bottom: 1px solid #bfc1c3;
    padding-top: 10px;
    padding-bottom: 10px;
}

// .govuk-checkboxes--small .govuk-checkboxes__item {
//     padding-left: 30px;
// }

.wrap {
    flex-wrap: wrap;
}

.govuk-file-upload {
    width: 285px;
}

@include govuk-media-query($from: tablet) {
    
    .govuk-file-upload {
        width: auto;
        }
}