{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
Data Collections Transformation Prototype
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <div class="information-banner" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="error-summary">
          
            <p class="govuk-body"><span id="bannerText" class="govuk-!-font-weight-bold">ESFA support desk is unavailable from midday to 1pm today:</span>
                <span id="bannerCont">we will monitor emails in case of emergencies.</span></p>
        </div>
        <h2 class="govuk-heading-m">Make a submission</h2>
        <!-- <a href="what_data_do_you_want_to_submit" class="get-started govuk-!-font-size-19">Submit an ILR, EAS or ESF file</a> -->
        <div class="govuk-grid-row tile-group">
            <div class="govuk-grid-column-one-third tile">
                <a href="choose_period">
                    <span class="govuk-heading-m heading">ILR</span>
                    <span class="govuk-!-font-size-19 sub-heading">Individualised Learner Record</span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">R02 and R13 open</div>

            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="choose_eas">
                    <span class="govuk-heading-m heading">EAS</span>
                    <span class="govuk-!-font-size-19 sub-heading">Earnings Adjustment Statement</span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">R02 and R13 open</div>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="edit-data">
                    <span class="govuk-heading-m heading">FC</span>
                    <span class="govuk-!-font-size-19 sub-heading">Funding Claims</span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">4 days left to submit</div>

            </div>
        </div>

        <div class="govuk-grid-row tile-group">
            <!-- <div class="govuk-grid-column-one-third tile">
              <a href="choose_period">
                <span class="govuk-heading-m heading">ILR</span>
                <span class="govuk-!-font-size-19 sub-heading">Individualised Learner Record</span>
              </a>
            </div>

            <div class="govuk-grid-column-one-third tile">
              <a href="choose_eas">
                <span class="govuk-heading-m heading">EAS</span>
                <span class="govuk-!-font-size-19 sub-heading">Earnings Adjustment Statement</span>
              </a>
            </div> -->

            <!-- <div class="govuk-grid-column-one-third tile">
              <a href="choose_esf">
                <span class="govuk-heading-m heading">ESF</span>
                <span class="govuk-!-font-size-19 sub-heading">European Social Fund</span>
              </a>
            </div> -->
            <!-- <div class="govuk-grid-column-one-third tile">
              <a href="edit-data">
                <span class="govuk-heading-m heading">FC</span>
                <span class="govuk-!-font-size-19 sub-heading">Funding Claims</span>
              </a>
            </div> -->
        </div>


        <h2 class="govuk-heading-m">Reports and data</h2>
        <div class="govuk-grid-row tile-group second-group">

            <div class="govuk-grid-column-one-third tile">
                <a href="latest-submissions">
                    <span class="govuk-heading-m heading">Open returns <br><br></span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">View</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">3 new reports</div>
            </div>
            

            <div class="govuk-grid-column-one-third tile">
                <a href="historical-in-period">
                    <span class="govuk-heading-m heading">Closed returns: in-period</span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">Funding claims</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">4 new reports</div>

            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="period-end">
                    <span class="govuk-heading-m heading">Period end <br><br></span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">Funding claims</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>

            </div>

        </div>

        <div class="govuk-grid-row tile-group second-group">

            <div class="govuk-grid-column-one-third tile">
                <a href="qar">
                    <span class="govuk-heading-m heading">QAR  </span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">View</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>
            </div>
            

            <div class="govuk-grid-column-one-third tile">
                <a href="frm">
                    <span class="govuk-heading-m heading">FRM </span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">Funding claims</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>

            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="edit-data.html">
                    <span class="govuk-heading-m heading">Funding claims</span>
                    <!-- <span class="govuk-!-font-size-19 sub-heading">Funding claims</span> -->
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">View submissions</div>

            </div>

        </div>

    </div>
    <div class="govuk-grid-column-one-quarter">
        {% include "./includes/sidebar_help.html" %}
    </div>
</div>

<script>

</script>

{% endblock %}
