
{% extends "./layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">No problems found</h1>

		<p><span class="govuk-!-font-weight-bold">Total learners in file</span> = 3,893</p>

		<p><span class="govuk-!-font-weight-bold">Total errors</span> = 0</p>

		<p><span class="govuk-!-font-weight-bold">Total warnings</span> = 0</p>

		<p><a href="#">Download summary report </a> (PDF, 375KB)
</p>
		<p><a href="#">Download the ILR rule violation summary report </a> (CSV, 78KB)
</p>

		<a href="./ilr_data_submitted.html" type="submit" class="govuk-button">
 Submit anyway
</a>
		<p><a href="./choose_file_to_upload.html">Go back and upload a different file</a></p>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
