
{% extends "./layout.html" %}

{% block beforeContent %}
  {% include "./includes/back_choose_file_to_upload.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	<div class="govuk-error-summary" aria-labelledby="error-summary-title" data-module="error-summary">
		  <h2 class="govuk-error-summary__title" id="error-summary-title">
		    ILR file not submitted
		  </h2>
		  <div class="govuk-error-summary__body">
		    <ul class="govuk-list govuk-error-summary__list">
		      <li>
		        <p>There are errors and warnings for the learner data in your file.</p>
                  <p>If you submit this file, we’ll process it when the next return period opens on 10 October.</p>
		      </li>
		    </ul>
		  </div>
		</div>
	
		<h1 class="govuk-heading-xl">Problems with the data<span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>

		<p id="error"><span class="govuk-!-font-weight-bold">Total learners in file</span>: 3,893</p>

		<p><span class="govuk-!-font-weight-bold">Total errors</span>: 15 (affecting 14 learners)</p>

		<p><span class="govuk-!-font-weight-bold">Total warnings</span>: 2,291 (affecting 1,027 learners)</p>

		
		<p><a href="#">Download detailed report </a> (CSV, 78KB) showing all errors and warnings</p>
       

		<div class="govuk-warning-text">
		  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		  <strong class="govuk-warning-text__text">
		    <span class="govuk-warning-text__assistive">Warning</span>
		    You’ll only be paid for learners that do not have errors in their data.
		  </strong>
		</div>
        
        
		
		<a href="./ilr_data_submitted_closed.html" type="submit" class="govuk-button">
	      Submit anyway
	    </a>

		<p><a href="./choose_file_to_upload.html">Go back and upload an updated file</a></p>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
