
{% extends "./layout_backtowhat.html" %}


{% block pageTitle %}
  Accessibility statement
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for submit learner data</h1>
    <p class="govuk-body">This accessibility statement applies to submit learner data. This website is run by 
      the Education and Skills Funding Agency (ESFA). We want as many people as 
      possible to be able to use this website. For example, that means you should 
      be able to navigate most of the website using:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>just a keyboard</li>
        <li>speech recognition software</li>
        <li>a screen reader to listen (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">
          We’ve also made the website text as simple as possible to understand.
      </p>
      <p class="govuk-body">   
       <a target="blank" href="https://mcmw.abilitynet.org.uk/">Ability Net</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h3 class="govuk-heading-m">How accessible this website is</h3>
      <p class="govuk-body">
          Parts of this website are not fully accessible. For example:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>some pages are not structured in a hierarchy</li>
          <li>some content can not be zoomed in at 400% without scrolling</li>
          <li>some tables do not have row headings</li>
          <li>some pages have poor colour contrast</li>
          <li>some form controls will not be read by screen reader software</li>
        </ul>

        <h3 class="govuk-heading-m">Feedback and contact information</h3>
        <p class="govuk-body">
            If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>email <a href="mailto:sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></li>
            <li>call <a href="tel:0370 267 0001">0370 267 0001</a></li>
          </ul>

          <p class="govuk-body">
            We’ll consider your request and get back to you in 5 working days.
          </p>

          <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
          <p class="govuk-body">We’re always looking to improve the accessibility of this website. 
            If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Data Collections Team <a href="mailto:datacollections.applicationmanagement@education.gov.uk">datacollections.applicationmanagement@education.gov.uk</a></li>
            </ul>

            <h3 class="govuk-heading-m">Enforcement procedure</h3>
            <p class="govuk-body">If you contact us with a complaint and you’re not happy with our response <a target="blank" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

            <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">The ESFA is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
  
            <h3 class="govuk-heading-m">Compliance status</h3>
            <p class="govuk-body">This website is partially compliant with the <a target="blank" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

            <h2 class="govuk-heading-l">Non-accessible content</h2>
            <p class="govuk-body">The content listed is non-accessible for the following reasons.</p>

            <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>

            <ol class="govuk-list govuk-list--number">
                <li>Not all pages are structured hierarchically and not all tables have headers. This fails WCAG 2.1 success criterion 1.3.1 (Info and Relationships).</li>
                <li>Not all lists have the correct html coding. This fails WCAG 2.1 success criterion 1.3.1 (Info and Relationships).</li>
                <li>There should be a warning before the session timeout occurs and there should be the facility to extend, adjust or turn off the session timeout period.  This fails WCAG 2.1 success criterion 2.2.1 (Timing Adjustable).</li>
              <li>Some html elements are not nested according to their specification or have duplicate attributes or duplicate IDs.  This fails WCAG 2.1 success criterion 4.4.1 (Parsing).</li>
              <li>Some form controls are not detectable by screen reader software. This fails WCAG 2.1 success criterion 4.1.2 (Name, Role, Value).</li>
            <li>Some foreground and background colours lack contrast. This fails WCAG 2.1 success criterion 1.4.3 (Colour Contrast).</li>
            <li>Some combinations of adjacent colours do not have sufficient contrast. This fails WCAG 2.1 success criterion 1.4.11 (Non-test Contrast).</li>
            <li>Some content cannot be accessed without scrolling when zooming in at 400%. This fails WCAG 2.1 success criterion 1.4.10 (Reflow).</li>
            </ol>

            <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
            <p class="govuk-body">The accessibility regulations <a target="blank" href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">do not require us to fix PDFs or other documents published before 23 September 2018</a> if they’re not essential to providing our services.</p>
            <p class="govuk-body">Any new PDFs or Word documents we publish will meet accessibility standards.</p>

            <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
            <p class="govuk-body">We are currently fixing all the non-accessible content listed. When fixed we will perform another accessibility test, we aim for this to be between January and April 2021. We will update the statement when we have the results of this re-test.</p>

            <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
            <p class="govuk-body">This statement was prepared on 23 November 2020.</p>
            <p class="govuk-body">This website was last tested on 30 June 2020. The test was carried out by Test Partners Ltd.</p>



         </div>

 
</div>

{% endblock %}
