
{% extends "./layout_back_to_dc.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

      <form action="dc_data_submitted" method="get" class="form">
          <h1 class="govuk-heading-xl">Choose devolved contracts file to upload </h1>
          
          <p>Before uploading your file you should make sure that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>it’s in CSV format</li>
            <li>the data it contains is as complete as possible</li>
            <li>the data it contains is as accurate as possible</li>
          </ul>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            <input type="hidden" name="whattosubmit" value="{{ data['whattosubmit'] }}">
          </div>
      
          <button class="govuk-button">
            Upload file
          </button>
        </form>
         
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-width-15">Date</th>
          <th scope="col" class="govuk-table__header">Submitted by</th>
          <th scope="col" class="govuk-table__header">File</th>
          <th scope="col" class="govuk-table__header">Job ID</th>
          <th scope="col" class="govuk-table__header govuk-width-17">Status</th>
          <th scope="col" class="govuk-table__header">Reports</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">20 January 2020 at 15:22pm</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">12345</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
           
          </td>
          <td class="govuk-table__cell"><a href="#">Devolved-contractRD-202001051533-validation-report-20200101120523.CSV</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">16 December 2019 at 8:00:12am</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">67890</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            
          </td>
          <td class="govuk-table__cell"><a href="#"></a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">14 November 2019 at 8:00:12am</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">09876</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
          </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">19 October 2019 at 1:00pm	</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">54321</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            </td>
          <td class="govuk-table__cell"><a href="#">Devolved-contractRD-202001051533-validation-report-20200101120523.CSV</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 September 2019 at 1:00pm	</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">12345</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            </td>
          <td class="govuk-table__cell"><a href="#">Devolved-contractRD-202001051533-validation-report-20200101120523.CSV</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">17 August 2019 at 1:00pm	</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">67890</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">15 July 2019 at 1:00pm	</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">54321</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            </td>
          <td class="govuk-table__cell"><a href="#">Devolved-contractRD-202001051533-validation-report-20200101120523.CSV</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 June 2019 at 1:00pm	</th>
          <td class="govuk-table__cell">Jim RIAZ</td>
          <td class="govuk-table__cell"><a href="#">Devolved-contract-20200217-122234.csv</a></td>
          <td class="govuk-table__cell">09876</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold">
            <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
            </td>
          <td class="govuk-table__cell"><a href="#">Devolved-contractRD-202001051533-validation-report-20200101120523.CSV</a></td>
        </tr>
        
        

      </tbody>
    </table>

    
  </div>
  
  <div class="govuk-grid-column-one-quarter">
      {% include "./includes/sidebar_help_related-dc.html" %}
  </div>
 
</div>

{% endblock %}
