
{% extends "./layout_back_to_dc.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        




 <div class="govuk-grid-row flex">

    <!-- <div id="left-nav-wrapper" class="govuk-grid-column-one-quarter flex-grow-1"> 
      {% include "./includes/left-nav.html" %}
    </div> -->

   <div class="govuk-grid-column-three-quarters ">
      <!-- flex-grow-1 removed from above div -->

      
            <h1 class="govuk-heading-xl">Reports</h1>
          
            <p>These downloads contain the Adult Education Funding Summary report and Adult Education Occupancy report.</p>
          
          
          
            <div class="year-groups 19">
              <h3 class="govuk-heading-m">Academic year 2019 to 2020</h3>
          
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
          
                    <th class="govuk-table__header" scope="col">Return period</th>
                    <th class="govuk-table__header" scope="col">Reports at period end</th>
          
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">R03</th>
                    <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download 2019-20-R03</a>  (zip, 1.3MB)</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">R02</th>
                    <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download 2019-20-R02</a>  (zip, 1.3MB)</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">R01</th>
                    <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download 2019-20-R01</a>  (zip, 1.3MB)</td>
                  </tr>
          
                </tbody>
              </table>
            </div>
          
          
          
          
        



</div>
</div>


</div>

</div>

{% endblock %}
