
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Check your funding claim data
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <a id="backlink" href="#" class="govuk-back-link">Back</a>
     <br>
     <br>

       <h1 class="govuk-heading-xl">Check your data</h1>


        <h2 class="govuk-heading-l">Start and learning</h2>
        <h3 class="govuk-heading-m"> Learner assessment and plan (ST01)</h3>
        <!-- <p>ST01 had 1051 participants @ £200 = £210,200 which equals 25% of contract value, now 1597 participants @ £200 = £319,400 which equals 38% of contract value</p> -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>1597 participants at £200 = £319,400 which equals 38% of contract value</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>1051 participants at £200 = £210,200 which equals 25% of contract value</p>
          </div>
        </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Regulated learning (RQ01)<h3>
         <!-- <p> RQ01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">New entry</h4>
              <p>Now £530,528 which equals 64% of contract value</p>
            </div>
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">Previously was</h4>
              <p>RQ01 was £559,973 which equals 67% of contract value</p>
            </div>
          </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Non regulated learning (NR01)<h3>
          <!-- <p>NR01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->


          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">New entry</h4>
                <p>Now £530,528 which equals 64% of contract value</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Previously was</h4>
                <p>NR01 was £559,973 which equals 67% of contract value</p>
              </div>
            </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>

        <h2 class="govuk-heading-l">Specification defined</h2>

        <h3 class="govuk-heading-m"> Learner assessment and plan (ST01)</h3>
        <!-- <p>ST01 had 1051 participants @ £200 = £210,200 which equals 25% of contract value, now 1597 participants @ £200 = £319,400 which equals 38% of contract value</p> -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>1597 participants at £200 = £319,400 which equals 38% of contract value</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>1051 participants at £200 = £210,200 which equals 25% of contract value</p>
          </div>
        </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Regulated learning (RQ01)<h3>
         <!-- <p> RQ01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">New entry</h4>
              <p>Now £530,528 which equals 64% of contract value</p>
            </div>
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">Previously was</h4>
              <p>RQ01 was £559,973 which equals 67% of contract value</p>
            </div>
          </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Non regulated learning (NR01)<h3>
          <!-- <p>NR01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->


          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">New entry</h4>
                <p>Now £530,528 which equals 64% of contract value</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Previously was</h4>
                <p>NR01 was £559,973 which equals 67% of contract value</p>
              </div>
            </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
 


        <h2 class="govuk-heading-l">Progressions</h2>
        <h3 class="govuk-heading-m"> Learner assessment and plan (ST01)</h3>
        <!-- <p>ST01 had 1051 participants @ £200 = £210,200 which equals 25% of contract value, now 1597 participants @ £200 = £319,400 which equals 38% of contract value</p> -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>1597 participants at £200 = £319,400 which equals 38% of contract value</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>1051 participants at £200 = £210,200 which equals 25% of contract value</p>
          </div>
        </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Regulated learning (RQ01)<h3>
         <!-- <p> RQ01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">New entry</h4>
              <p>Now £530,528 which equals 64% of contract value</p>
            </div>
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">Previously was</h4>
              <p>RQ01 was £559,973 which equals 67% of contract value</p>
            </div>
          </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m">Non regulated learning (NR01)<h3>
          <!-- <p>NR01 was £559,973 which equals 67% of contract value. <br> Now £530,528 which equals 64% of contract value.</p> -->


          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">New entry</h4>
                <p>Now £530,528 which equals 64% of contract value</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Previously was</h4>
                <p>NR01 was £559,973 which equals 67% of contract value</p>
              </div>
            </div>
        <p><a href="esf-reprofiling">Edit</a></p>
        <br>
        <br>

<!-- ------------------tab 2 -------------------- -->


<a href="#" role="button" class="govuk-button">Submit data</a>



</div>

</div>




<!-- <p class="govuk-body"><a href="exit-survey.html" role="button" class="govuk-link">Log out</a></p> -->



{% endblock %}
