
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Check your funding claim data
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <a id="backlink" href="#" class="govuk-back-link">Back</a>
     <br>
     <br>

       <h1 class="govuk-heading-xl">Check your data</h1>

        <h2 class="govuk-heading-l">Progressions</h2>
        <h3 class="govuk-heading-m"> Progression paid employment (PG01)</h3>
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>PG01 = £10,000 which is 10% of Start and learning (ST01)</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>PG01 = £8,000 was 8% of Start and learning (ST01)</p>
          </div>
        </div>
        <p><a href="esf-reprofiling#pg">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m"> Progression education (PG03)</h3>
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>PG03 = £10,000 which is 10% of Start and learning (ST01)</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>PG03 = £8,000 was 8% of Start and learning (ST01)</p>
          </div>
        </div>
        <p><a href="esf-reprofiling#pg">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m"> Progression apprenticeship (PG04)</h3>
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>PG04 = £10,000 which is 10% of Start and learning (ST01)</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>PG04 = £8,000 was 8% of Start and learning (ST01)</p>
          </div>
        </div>
        <p><a href="esf-reprofiling#pg">Edit</a></p>
        <br>
        <br>
        <h3 class="govuk-heading-m"> Progression traineeship (PG05)</h3>
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">New entry</h4>
            <p>PG05 = £10,000 which is 10% of Start and learning (ST01)</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <h4 class="govuk-heading-s">Previously was</h4>
            <p>PG05 = £8,000 was 8% of Start and learning (ST01)</p>
          </div>
        </div>
        <p><a href="esf-reprofiling#pg">Edit</a></p>

<!-- ------------------tab 2 -------------------- -->


<a href="esfr_data_submitted.html" role="button" class="govuk-button">Submit data</a>



</div>

</div>




<!-- <p class="govuk-body"><a href="exit-survey.html" role="button" class="govuk-link">Log out</a></p> -->



{% endblock %}
