
{% extends "./layout_backtowhat.html" %}


{% block pageTitle %}
European Social Fund Reprofiling
{% endblock %}

{% block content %}
<script src="/public/javascripts/tt.js"></script>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">



       <h1 class="govuk-heading-xl">European Social Fund Reprofiling</h1>

       
       
       <h2 class="govuk-heading-m">January 2021 to March 2023</h2>


      <h3 class="govuk-heading-s govuk-!-margin-top-4">ESF-1234</h3>
      <p  class="flex space-between"> 
        <span >Open for editing  </span>
        <a  class="govuk-button govuk-!-margin-bottom-0" href="esf-reprofiling.html">Review and edit</a> 
      </p>
      <hr>

      <h3 class="govuk-heading-s govuk-!-margin-top-4">ESF-5678</h3>
      <p  class="flex space-between"> 
        <span >Open for editing  </span>
        <a  class="govuk-button govuk-!-margin-bottom-0" href="esf-reprofiling.html">Review and edit</a> 
      </p>
      <!-- <h3 class="govuk-heading-s">Mid Year (R06) Funding Claim 2019 to 2020</h3>
      <p class="flex space-between">Last submitted: 13 February at 12:55pm <a href="esf-reprofiling.html">View submission</a> </p>
      <hr> -->
      






</div>
<div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Help and support
        </h2>
         
    
    <p class="govuk-body"> <a href="#"> Download a business case template</a></p>
  
</aside>




</div>
</div>


<!-- <a href="year-end-claim-adult.html" role="button" class="govuk-button">Enter or confirm data</a> -->

<!-- <p class="govuk-body"><a href="exit-survey.html" role="button" class="govuk-link">Log out</a></p> -->



{% endblock %}
