{% extends "govuk/template.njk" %}



{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  })}}
{% endblock %}

{% block beforeContent %}

{% include "./includes/account_info.html" %}
 
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          
          {
            href: "privacy",
            text: "Privacy"
          
          },
          {
            href: "#",
            text: "Cookies"
          
          },
          {
            href: "accessibility-statement",
            text: "Accessibility statement"
          },
          {
            href: "termsandconditions",
            text: "Terms and conditions"
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
{% include "./includes/version.html" %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
