
{% extends "./layout_noback.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Submit learner data
      </h1>

		<p class="govuk-body-l">This service is for training providers that receive funding directly from the Education and Skills Funding Agency.</p>

		<p>Use this service to validate and submit:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Individualised learner records (ILR)</li>
			<li>Earnings adjustment statements (EAS)</li>
			<li>European Social Fund supplementary data (ESF)</li>
      		<li>Funding claims</li>
      		<li>Further Education (FE) staff and vacancy data</li>
      		<li>Further Education (FE) governor data</li>
		</ul>



		<p>You can also view and download reports for data you’ve submitted.</p>
		<p>Mayoral Combined Authorities (MCAs) can download reports and upload reference data.</p>
		<a href="./idams.html" role="button" class="govuk-button govuk-button--start">
  Sign in
</a>
        <h2 class="govuk-heading-m">Before you start</h2>

		<p>You will need:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>Login details for IDAMS (Information Management Services System)</li>
			<li>An XML or Zip file to upload for ILR data</li>
			<li>A CSV file to upload for EAS and ESF data</li>
			<li>An XML file to upload for recording Further education (FE) staff data or FE staff records for online form submissions</li>
			<li>Governing board details (FE only)</li>
		</ul>

    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_start.html" %}
      </div>
</div>

{% endblock %}
