{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
Data Collections Transformation Prototype
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        
        <div class="information-banner" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="error-summary">
          
            <p class="govuk-body"><span id="bannerText" class="govuk-!-font-weight-bold">ESFA support desk is unavailable from midday to 1pm today:</span>
            <span id="bannerCont">we will monitor emails in case of emergencies.</span></p>
        </div>

        <h2 class="govuk-heading-l">Make a submission</h2>

        <!-- <a href="what_data_do_you_want_to_submit" class="get-started govuk-!-font-size-19">Submit an ILR, EAS or ESF file</a> -->

        <div class="govuk-grid-row tile-group">
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height-small" href="choose_period">
                        <span class="govuk-heading-s heading">Individualised Learner Record</span>
                        <!-- <span class="govuk-!-font-size-16 sub-heading">Individualised Learner Record</span> -->
                    </a>
                    <div class="govuk-body warning-info">R05 open</div>
    
                </div>
     
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height-small" href="choose_eas">
                        <span class="govuk-heading-s heading">Earnings Adjustment Statement</span>
                        <!-- <span class="govuk-!-font-size-16 sub-heading">Earnings Adjustment Statement</span> -->
                    </a>
                    <div class="govuk-body warning-info">R05 open</div>
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height-small" href="edit-data">
                        <span class="govuk-heading-s heading">Funding Claims</span>
                        <!-- <span class="govuk-!-font-size-16 sub-heading">Funding Claims</span> -->
                    </a>
                    <div class="govuk-body warning-info">4 days left to submit</div>
    
                </div>
            </div>

        

        <h2 class="govuk-heading-l">Reports and data</h2>

        <div class="govuk-grid-row tile-group">

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="latest-submissions">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">Open returns</span>
                    <p class="govuk-!-font-size-16">View reports for submissions you’ve made during R05 (19/20)</p>
                    <br> <br> <br>
                </a>
                <div class="govuk-body warning-info-2">3 new reports</div>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="historical-in-period">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">Closed returns: in-period</span>
                    <p class="govuk-!-font-size-16">View in-period reports for periods that have closed. These are the submissions your payments have been calculated on.</p>
                </a>
                <div class="govuk-body warning-info-2">1 new report</div>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey min-height-small" href="period-end">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">Period end</span>
                    <p class="govuk-!-font-size-16">View your period end reports including your FM36 apprenticeship breakdown.</p>
                    <br> <br>
                </a>
                <div class="govuk-body warning-info-2">1 new report</div>
            </div>

    </div>

    
    

    <div class="govuk-grid-row tile-group ">

            <div class="govuk-grid-column-one-third tile">
                <a class="grey " href="qar">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">QAR</span> 
                <p class="govuk-!-font-size-16">View your qualification achievement rates. Reports for R01 are available now.</p>
                    
                    <br> <br> <br>
                    <!-- <span class="govuk-!-font-size-16 sub-heading">Qualification achievement rates </span> -->
                </a>
                <div class="govuk-body warning-info-2">View reports</div>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey " href="frm">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">FRM</span> 
                <p class="govuk-!-font-size-16">Funding Rules Monitoring gives you an idea of any issues with your data you might need to address. Reports from R12 are available now.</p>
                    
                    
                    <!-- <span class="govuk-!-font-size-16 sub-heading">Funding rules monitoring</span> -->
                </a>
                <div class="govuk-body warning-info-2">1 new report</div>
            </div>

            <div class="govuk-grid-column-one-third tile">
                <a class="grey " href="edit-data">
                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-5">Funding claims history</span> 
                <p class="govuk-!-font-size-16">View your submission history for Funding Claims.</p>
                    
                    <br> <br> <br> <br>
                    
                </a>
                <div class="govuk-body warning-info-2">View submissions</div>
            </div>
        </div>

        <!-- <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                
                <span class="govuk-heading-s govuk-!-margin-bottom-1"><a href="qar">QAR</a></span>
                <p class="govuk-!-font-size-16">View your qualification achievement rates. Reports for R01 are available now.</p>
            </div>

            <div class="govuk-grid-column-one-third">
                
                <span class="govuk-heading-s govuk-!-margin-bottom-1"><a href="frm">FRM</a></span>
                <p class="govuk-!-font-size-16">Funding Rules Monitoring give you an idea of any issues with your data you might need to address. Reports from R12 are available now.</p>
            </div>

            <div class="govuk-grid-column-one-third">
                
                <span class="govuk-heading-s govuk-!-margin-bottom-1"><a href="edit-data">Funding claims history</a></span>
                <p class="govuk-!-font-size-16">View your submission history for Funding Claims.</p>
            </div>
        </div> -->
<!-- <br> -->

        <!-- <div class="govuk-grid-row tile-group second-group">

            <div class="govuk-grid-column-one-third tile">
                <a href="latest-submissions">
                    <span class="govuk-heading-m heading">Open returns <br><br></span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">3 new reports</div>
            </div>
            

            <div class="govuk-grid-column-one-third tile">
                <a href="historical-in-period">
                    <span class="govuk-heading-m heading">Closed returns: in-period</span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">4 new reports</div>

            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="period-end">
                    <span class="govuk-heading-m heading">Period end <br><br></span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>
 
            </div>

        </div>

        <div class="govuk-grid-row tile-group second-group">

            <div class="govuk-grid-column-one-third tile">
                <a href="qar">
                    <span class="govuk-heading-m heading">QAR  </span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>
            </div>
            

            <div class="govuk-grid-column-one-third tile">
                <a href="frm">
                    <span class="govuk-heading-m heading">FRM </span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">1 new report</div>

            </div>

            <div class="govuk-grid-column-one-third tile">
                <a href="edit-data.html">
                    <span class="govuk-heading-m heading">Funding claims</span>
                </a>
                <div class="govuk-body govuk-!-font-size-19 warning-info">View submissions</div>

            </div>

        </div> -->

    </div>
    <div class="govuk-grid-column-one-quarter">
        {% include "./includes/sidebar_help.html" %}
    </div>
</div>

<script>

</script>

{% endblock %}
