
{% extends "./layout_noback_signedin.html" %}

{% block beforeContent %}
  {% include "./includes/back_what_data_do_you_want_to_submit.html" %}
{% endblock %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <a href="./what_data_do_you_want_to_submit.html" class="govuk-back-link">Back</a> -->
    <h1 class="govuk-heading-xl">Information updates</h1>
    <h2 class="govuk-heading-m">QAR data 2017</h2>
    <p>Final QAR data for 2017 to 2018 now available in the ‘QAR reports’ section on the Data Returns page.</p>

    <h2 class="govuk-heading-m">New education portal view</h2>
    <p>We are launching the new View Your Education Data portal, <a href="http://feconnect.education.gov.uk/blog/uncategorized/birst-bi-replacement-update/" target="_blank">find out more about what this means for you</a>.​​</p>
  </div>
	<div class="govuk-grid-column-one-third">
    {% include "./includes/sidebar_help.html" %}
  </div>

</div>

{% endblock %}
