
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//Cheats - ignore me

.govuk-link:focus, a:focus {
  background-color: #fd0;
  // outline: 0;
  // border-bottom: 4px solid black;

  outline: 3px solid transparent;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

// .govuk-link:focus, a:focus {

// }


.visually-hidden {visibility: hidden;}

//Actual code - take with a pinch of salt, its a ptype y'all

/*Pagination*/
.pagination {
    display: block;
    margin: 4em 0 0;
	//border-bottom: 1px solid #bfc1c3;
}

@media (max-width: 640px) {
    .pagination {
        margin: 2em 0;
    }
}

.pagination ul {
    margin: 0;
    padding: 0;
}

.pagination li {
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: .5;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 49%;
}

@media (min-width: 641px) {
    .pagination li {
        font-size: 16px;
        line-height: 1.25;
    }
}

.pagination li a {
    background-color: transparent;
    display: block;
    color: #005ea5;
    text-decoration: none;
}

.pagination li a:hover,.pagination li a:active {
    background-color: #f8f8f8;
}

.pagination li a .pagination-label {
    font-size: 20px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: .5;
    margin-bottom: .1em;
    display: block;
}

@media (min-width: 641px) {
    .pagination li a .pagination-label {
        font-size: 27px;
        line-height: 1.25;
    }
}

.pagination li a .pagination-part-title {
    text-decoration: underline;
}

.pagination li.next {
    float: right;
    text-align: right;
}

.pagination li.next a:before {
    background: transparent url(../images/arrow-sprite.png) no-repeat -102px -11px;
    margin: -4px -32px 0 0;
    display: block;
    float: right;
    width: 30px;
    height: 38px;
    content: " ";
}

.pagination li.previous a:before {
    background: transparent url(../images/arrow-sprite.png) no-repeat -20px -11px;
    margin: -4px 0 0 -32px;
    display: block;
    float: left;
    width: 30px;
    height: 38px;
    content: " ";
}

.pagination li.previous {
    float: left;
    text-align: left;
}

.pagination li.previous a {
    padding: .75em 0 .75em 3em;
}

.pagination li.next a {
    padding: .75em 3em .75em 0;
}

@media (max-width: 640px) {
    .pagination li.previous,.pagination li.next {
        float: none;
        width: 100%;
    }

    .pagination li.next a {
        text-align: right;
    }
}

.pagination .first,.pagination .last {
    min-height: 4.5em;
}

.pagination .first span,.pagination .last span {
    display: block;
    min-height: 4.5em;
    padding: .75em 5%;
    width: 90%;
}

.pagination .first .pagination-label,.pagination .last .pagination-label {
    display: block;
    margin-bottom: .5em;
}

//None error highlight border

.govuk-highlight-summary {
	color: #0b0c0c;
	padding: 15px;
	margin-bottom: 30px;
	border: 4px solid #005ea5
}
.govuk-highlight-summary-yellow {
	color: #0b0c0c;
	padding: 15px;
	margin-bottom: 30px;
	border: 4px solid #ffbf47
}
@media print {
	.govuk-highlight-summary {
		color: #000
	}
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary {
		padding: 20px
	}
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary {
		margin-bottom: 50px
	}
}
.govuk-highlight-summary:focus {
	outline: 3px solid #ffbf47;
	outline-offset: 0
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary {
		border: 5px solid #005ea5
	}
}
.govuk-highlight-summary__title {
	font-family: "nta", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 15px
}
@media print {
	.govuk-highlight-summary__title {
		font-family: sans-serif
	}
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary__title {
		font-size: 24px;
		line-height: 30px
	}
}
@media print {
	.govuk-highlight-summary__title {
		font-size: 18pt;
		line-height: 1.15
	}
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary__title {
		margin-bottom: 20px
	}
}
.govuk-highlight-summary__body {
	font-family: "nta", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px
}
@media print {
	.govuk-highlight-summary__body {
		font-family: sans-serif
	}
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary__body {
		font-size: 19px;
		line-height: 25px
	}
}
@media print {
	.govuk-highlight-summary__body {
		font-size: 14pt;
		line-height: 1.15
	}
}
.govuk-highlight-summary__body p {
	margin-top: 0;
	margin-bottom: 15px
}
@media (min-width: 40.0625em) {
	.govuk-highlight-summary__body p {
		margin-bottom: 20px
	}
}
.govuk-highlight-summary__list {
	margin-top: 0;
	margin-bottom: 0
}
.govuk-highlight-summary__list a {
	font-weight: 700
}
.govuk-highlight-summary__list a:focus {
	outline: 3px solid #ffbf47;
	outline-offset: 0;
	background-color: #ffbf47
}
.govuk-highlight-summary__list a:link, .govuk-highlight-summary__list a:visited, .govuk-highlight-summary__list a:hover, .govuk-highlight-summary__list a:active, .govuk-highlight-summary__list a:focus {
	color: #005ea5;
	text-decoration: underline
}
.govuk-highlight-summary__list a:link:focus {
	color: #005ea5
}

progress {width:100%; height:1.5em}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
	appearance: none;
border:1px solid black;
color:#005ea5;}

progress::-moz-progress-value { background: #005ea5; }

progress::-webkit-progress-value { background: #005ea5; }

progress::-webkit-progress-bar {background:white;}

progress::-moz-progress-bar { background: white; }


/**Liz**/

.account-info {
    padding-left: 0;
    text-align: right;
    font-size: 14px;
    line-height: 1.1428571429;
    padding: 1em 0 0 0;
    margin-bottom: 0;
    /*border-bottom: 1px solid #bfc1c3;*/
}

@media (min-width: 641px) {
    .account-info {
        font-size: 16px;
        line-height: 1.25;
    }
}

.account-info .your-name {
    padding: 0 .5em;
}

.hide {
  display: none;
}


#typeFilter.govuk-checkboxes, #yearFilter.govuk-checkboxes, #yearFilter-pe.govuk-checkboxes, #qarfrmFilter.govuk-checkboxes {
	display: flex;

	.govuk-checkboxes__item {
		margin-right: 20px;
	}

}

.feedback-wrapper {
  background-color: $govuk-brand-colour;
  // height: 50px;
  // width: 100%;
  // position: absolute;
  // left: 0;
  // display: flex;

  .feedback-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

    .govuk-heading-s {
      color: white;
      margin-bottom: 0;
    }

    a {
      color: white;
    }

    .no-thank-you {
      display: block;
      text-align: right;
      margin-top: 10px;
    }

  }
}

.blue-strip  {
  border-bottom: 10px solid $govuk-brand-colour;
  // width: 960px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 1025px) {

  .feedback-wrapper {
    .feedback-container {
      .no-thank-you {
        display: inline-block;
        float: right;
        margin-top: 0;
      }
    }
  }


  .blue-strip {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.information-banner.hidden {
  display: none;
}

.information-banner {
  @extend .govuk-error-summary;
  border-color: govuk-colour("purple");
}


@media (max-width: 641px) {
  .date::before {
    content: "Date:";
  }

  .type::before {
    content: "Type:";
  }

  .file::before {
    content: "File:";
  }

  .by::before {
    content: "Submitted by:";
  }

  .reference::before {
    content: "Reference:";
  }

  .reports::before {
    content: "Reports:";
  }
}

.grey-box {
  background-color: govuk-colour("grey-3");
  padding: 15px;
}

//******************************* NEW JOURNEY CSS *********************************//


.flex {
  display: flex;
  flex-direction: column;
}

.flex.mobile {
  flex-direction: row
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
}

.custom-width {
  width: 65%;
  display: block;
}

.flex-grow-1 {
  flex-grow: 1;
}

@include govuk-media-query($from: 640) {
  .flex {
    flex-direction: row;
  }
}


.report-view section {
  display: none;
}

.report-view section.current {
  display: inherit;
}





#left-nav-wrapper {

  ul.left-navigation-2 {

    margin-left: -11px;

    li {
      // margin-bottom: 16px;
      

      a {
        text-decoration: none;
        display: block;
        padding: 6px 0 6px 11px;
      }

      a.active {
        border-left: 5px solid govuk-colour("blue");
        margin-left: -4px;
      }

      a:hover {
        text-decoration: underline;
        color: govuk-colour("light-blue");
      }

      // a:visited {
      //   color: $govuk-link-colour;
      // }
      a:focus {
        background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    outline: 0;
    color: #000;
      }
    
  }

    .dashboard-link  {
      margin-bottom: 10px;

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
        color: govuk-colour("light-blue");
      }
    }

    .left-navigation-0 {

      li {
        margin-bottom: 16px;
        

        a {
          text-decoration: none;
          display: block;
          // padding: 6px 0 6px 11px;
        }

        // a.active {
        //   // border-left: 5px solid govuk-colour("light-blue");
        //   // margin-left: -4px;
        // }

        a:hover {
          text-decoration: underline;
          color: govuk-colour("blue");
        }

        // a:visited {
        //   color: $govuk-link-colour;
        // }

      }
    }

    .left-navigation {

      li {
        // margin-bottom: 16px;
        

        a {
          text-decoration: none;
          display: block;
          padding: 6px 0 6px 11px;
        }

        a.active {
          border-left: 5px solid govuk-colour("blue");
          margin-left: -4px;
        }

        a:hover {
          text-decoration: underline;
          color: govuk-colour("light-blue");
        }

        // a:visited {
        //   color: $govuk-link-colour;
        // }

      }
    }

     

      
  }

  .app-back-to-top__icon, a:visited {
    color: $govuk-link-colour;
  }

  .sticky-top {
    a.app-back-to-top:hover {
      text-decoration: underline;
      color: govuk-colour("light-blue");
    }
  }

  .app-back-to-top__icon {
      display: inline-block;
      width: .8em;
      height: 1em;
      margin-top: -5px;
      margin-right: 10px;
      vertical-align: middle;
  }

  .sticky-top {
    position: sticky;
    top: 30px;
    margin-bottom: 30px;
  }

}

// ul li

.card {
  border-bottom: 1px solid $govuk-border-colour;
}


//-------------- new small checkbox design ----------------//

.govuk-checkboxes--small .govuk-checkboxes__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left;
}

.govuk-checkboxes--small .govuk-checkboxes__input {
  left: -8px;
}

.govuk-checkboxes--small .govuk-checkboxes__label {
  margin-top: -2px;

}

.govuk-checkboxes--small .govuk-checkboxes__label {
  // CSS was this: padding: 11px 15px 10px 1px;
  padding: 11px 15px 10px 2px;
}

.govuk-checkboxes--small .govuk-checkboxes__label::before {
  top: 8px;
  width: 24px;
  height: 24px;
}

.govuk-checkboxes--small .govuk-checkboxes__label::after {
  top: 15px;
  left: 6px;
  width: 9px;
  height: 3.5px;
  border-width: 0 0 3px 3px;
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__label:before {
outline: 10px solid govuk-colour("grey-3");
}

.govuk-checkboxes__item.custom {
  margin-right: 0px;
  height: 32px;
  padding-left: 22px;
}

.govuk-checkboxes--small.filter-wrapper .govuk-checkboxes__label::after {
  top: 8px;
}

.govuk-checkboxes--small.filter-wrapper .govuk-checkboxes__label::before {
top: 0;
}

// .govuk-checkboxes--small.filter-wrapper.reset .govuk-checkboxes__label::after {
//     top: 16px;
// }
//
// .govuk-checkboxes--small.filter-wrapper.reset .govuk-checkboxes__label::before {
//   top: 8px;
// }

.back-to-top.hidden {
  display: none;
}

.padding-left-11 {
  padding-left: 11px;
}

.top-nav {
  margin: 0px 0px 16px -15px;

  ul {

    li {
      margin-top: 15px;

      a {
        text-decoration: none;
        padding: 10px 20px 10px 15px;
        
      }

      a.active {
        border-left: 5px solid govuk-colour("blue");
        padding-left: 10px;
      }
    }
  }
}

@include govuk-media-query($from: 640) {

  .top-nav {
    margin: 0px 0px 0px 0px;
  
    ul {
  
      li {
        
        a {
          text-decoration: none;
          padding: 10px 20px 10px 20px;
        }
  
        a.active {
          border-left: 0;
          padding-left: 20px;
          border-bottom: 5px solid govuk-colour("blue");
        }
      }
    }
  }
  
}

.govuk-button--secondary {
  background-color: govuk-colour("grey-3");
  box-shadow: 0 2px 0 govuk-colour("grey-1");
}

.govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
    color: #0b0c0c;
}

.govuk-button--secondary:hover {
  background-color: govuk-colour("grey-2");
}

.govuk-button--secondary:focus {
  background-color: govuk-colour("grey-2");
}

.progress-container {
  border: 1px solid govuk-colour("grey-2");
  padding: 15px;

  .progress-bar {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: govuk-colour("grey-3");
    position: relative;

    .progress {
      position: absolute;
      width: 25%;
      background-color: #005ea5;
      height: 100%;
    }
  }
}

.width30 {
  width: 30%;
}

.width40 {
  width: 40%;
}