<div class="sticky-top">

  <ul class="govuk-list left-navigation-2">
 
    <li>
      <a id="1" class="govuk-link"  href="latest-submissions">Latest submissions</a>
    </li>
    <li>
      <a id="2" class="govuk-link" href="historical-in-period" >Submission history</a>
    </li>
    <li>
      <a id="5" class="govuk-link" href="frm" >FRM reports</a>
    </li>
    <li>
      <a id="6" class="govuk-link" href="fm36" >FM36 summary</a>
    </li>
    <li>
      <a id="7" class="govuk-link" href="archive" >Reports archive</a>
    </li>

  </ul>

  
  
    <a class="govuk-!-font-size-16 back-to-top hidden" href="#"><svg focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top</a>


    
</div>

