{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
Data Collections Transformation Prototype
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->


<div class="govuk-grid-row flex">

       

    <div class="govuk-grid-column-three-quarters">
            
   
        <div class="information-banner" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="error-summary">
          
            <p class="govuk-body"><span id="bannerText" class="govuk-!-font-weight-bold">ESFA support desk is unavailable from midday to 1pm today:</span>
            <span id="bannerCont">we will monitor emails in case of emergencies.</span></p>
        </div>

        {% include "./includes/top-nav.html" %}
        <br><br>
        <h2 class="govuk-heading-l">Make a submission
            <span class="govuk-caption-l">R05 closes in 6 days</span>
        </h2>

        <!-- <a href="what_data_do_you_want_to_submit" class="get-started govuk-!-font-size-19">Submit an ILR, EAS or ESF file</a> -->

        <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="choose_period">
                        <span class="govuk-heading-m heading">ILR</span>
                        <span class="govuk-heading-s heading">Individualised Learner Record</span>
                    </a>
                    <div class="govuk-body govuk-!-font-size-19 warning-info">R05 open</div>
    
                </div>
     
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="choose_eas">
                        <span class="govuk-heading-m heading">EAS</span>
                        <span class="govuk-heading-s heading">Earnings Adjustment Statement</span>
                    </a>
                    <div class="govuk-body govuk-!-font-size-19 warning-info">R05 open</div>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="choose_esf">
                        <span class="govuk-heading-m heading">ESF</span>
                        <span class="govuk-heading-s heading">European Social <br> Fund</span>
                    </a>
                    <div class="govuk-body govuk-!-font-size-19 warning-info">R05 open</div>
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="edit-data">
                        <span class="govuk-heading-m heading">FC</span>
                        <span class="govuk-heading-s heading">Funding <br> Claims</span>
                    </a>
                    <div class="govuk-body govuk-!-font-size-19 warning-info">4 days left to submit</div>
    
                </div>
            
            </div>

    </div>

    <div class="govuk-grid-column-one-quarter"> 
        {% include "./includes/sidebar_related.html" %}
        
    </div>
    <!-- <div class="govuk-grid-column-one-quarter">
        
    </div> -->
</div>


<div class="govuk-grid-row">
        <br>
        <br>
        <div class="govuk-grid-column-one-quarter">
                
        </div>
    
        <div class="govuk-grid-column-three-quarters">
                
        </div>

        
    </div>


<script>

</script>

{% endblock %}
