
{% extends "./layout.html" %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
    <form action="choose_programme" method="get" class="form">
      <div class="govuk-error-summary govuk-cancelled-summary--border govuk-!-margin-bottom-5 govuk-!-width-two-thirds" aria-labelledby="error-summary-title" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Updates not made
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <p>No changes have been made to your statement.</p>
            </li>
          </ul>
        </div>
       </div>
	     <h1 class="govuk-heading-xl"> <span class="govuk-caption-xl">2018 to 2019</span>Manage your earning adjustment statement</h1>

       <div class="govuk-error-summary govuk-info-summary govuk-!-margin-bottom-5" aria-labelledby="info-summary-title" data-module="info-summary">
        <h2 class="govuk-error-summary__title" id="info-summary-title">
          Total claim for the year
        </h2>
        <div class="govuk-error-summary__body">
          <h1 class="govuk-heading-xl govuk-info-summary--value">£2,146.10</h1>
        </div>
       </div>

       <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Month</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Claim amount</th>
            <th class="govuk-table__header" scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">August</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
            <td class="govuk-table__cell"><a href="eas_month_view?easmonthselected=August">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">September</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2,146.10</td>
            <td class="govuk-table__cell"><a href="eas_month_view?easmonthselected=September">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">October</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
            <td class="govuk-table__cell"><a href="eas_month_view?easmonthselected=October">Add claim</a></td>
          </tr>
        </tbody>
       </table>

		   	<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="confirm">    
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="confirm">
        <label class="govuk-label govuk-checkboxes__label" for="confirm">
          I confirm that the above payments have been made and I hold appropriate evidence to substantiate them.
        </label>
      </div>      
    </div>
  </fieldset>
</div>
		
		<a href="./eas_data_submitted.html" type="submit" class="govuk-button">
	      Save and submit
	    </a>
  		
  </form>
  </div>

</div>

{% endblock %}