
{% extends "./layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		
		<form action="manage_your_eas_added" method="get" class="form">
      <h1 class="govuk-heading-xl">Add claim details <span class="govuk-caption-xl">Carry-in apprenticeships</span></h1>
			<div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="form-group">
         
          <h3 class="govuk-heading-m">Which funding line is this for?</h3>
          <div class="govuk-form-group govuk-!-margin-bottom-8">
            <label class="govuk-label" for="fundingline">
              <span class="govuk-caption-m">Start typing the name of the funding line or choose an option from the list</span>
            </label>
            <select class="govuk-select" id="fundingline" name="fundingline">
              <option value="0" selected>Choose an option</option>
              <option value="1">16-18 trailblazer apprenticeships</option>
              <option value="2">19-23 apprenticeship frameworks</option>
              <option value="3">Adult non-levy contracted apprenticeships - additional payments for providers</option>
            </select>
          </div>

          <h3 class="govuk-heading-m">What type of claim is it?</h3>
          <div class="govuk-radios govuk-!-margin-bottom-8">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="claim-type-1" name="claimtype" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="claim-type-1">
              Excess learning support
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="claim-type-2" name="claimtype" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="claim-type-2">
              Authorised claim - including audit adjustments
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="claim-type-3" name="claimtype" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="claim-type-3">
              Learner support
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="claim-type-4" name="claimtype" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="claim-type-4">
              Other
            </label>
            </div>
          </div>

          <h3 class="govuk-heading-m">How much are you claiming?</h3>
          <div class="govuk-form-group govuk-!-margin-bottom-8">
            <label class="govuk-label" for="howMuchClaimed">
            </label>
            £<input class="govuk-input govuk-input--width-10" id=howMuchClaimed" name="howMuchClaimed" type="text">
          </div>

          <h3 class="govuk-heading-m">Which employer does this claim relate to?</h3>
          <div class="govuk-form-group govuk-!-margin-bottom-4">
            <label class="govuk-label" for="employer">
              <span class="govuk-caption-m">Start typing the name of the employer or their registered company number</span>
            </label>
            <input class="govuk-input" id="employer" name="employer" type="text">
          </div>

        </fieldset>	 
			</div>
      <button class="govuk-button">
        Add claim
      </button>
			
		</form>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
