
{% extends "./layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		
		<form action="add_claim_details" method="get" class="form">
			<div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
               Choose programme
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-programme-1" name="chooseprogramme" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="choose-programme-1">
              Carry-in apprenticeships
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-programme-2" name="chooseprogramme" type="radio" value="2" onclick="this.blur(); document.getElementById('choose-programme-1').click()">
              <label class="govuk-label govuk-radios__label" for="choose-programme-2">
              Procured and levy apprenticeships 
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-programme-3" name="chooseprogramme" type="radio" value="3" onclick="this.blur(); document.getElementById('choose-programme-1').click()">
              <label class="govuk-label govuk-radios__label" for="choose-programme-3">
              16 to 18 traineeships
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-programme-4" name="chooseprogramme" type="radio" value="4" onclick="this.blur(); document.getElementById('choose-programme-1').click()">
              <label class="govuk-label govuk-radios__label" for="choose-programme-4">
              Adult education - traineeships and other learning
            </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-programme-5" name="chooseprogramme" type="radio" value="5" onclick="this.blur(); document.getElementById('choose-programme-1').click()">
              <label class="govuk-label govuk-radios__label" for="choose-programme-5">
              Advanced learner loans
            </label>
            </div>
        </fieldset>	 
			</div>

      <button class="govuk-button">
        Continue
      </button>
			
		</form>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
