
{% extends "layout_noback.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		
      	<h1 class="govuk-heading-xl">
        	Contents <span class="govuk-caption-xl">Version 11.2.0 - Private Beta</span>       
      	</h1>
      	<p>
        	Please do not enter any personal information. This prototype is not secure.
      	</p>

		<!--<h2 class="govuk-heading-l">ILR User Journey (Happy path)</h2>-->
		
		<!--<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>
		   	<li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>
			<li><a href="choose_file_to_upload.html">Choose file to upload</a></li>
			<li><a href="your_files_uploading.html">Your file's uploading</a></li>
			<li><a href="theres_a_problem.html">There's a problem</a></li>			
			<li><a href="ilr_data_submitted.html">ILR data submitted</a></li>
            <li><a href="return-period.html">Reports</a></li>
		</ul>-->
        <h2 class="govuk-heading-l">ILR User Journey (Uber happy path)</h2>		
		<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>
		   	<!--<li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>-->
			<li><a href="choose_file_to_upload.html">Choose file to upload</a></li>
			<li><a href="your_files_uploading.html">Your file's uploading</a></li>		
			<li><a href="ilr_data_submitted_clean.html">ILR data submitted (Clean file)</a></li>
            <li><a href="return-period.html">Reports</a></li>
		</ul>
        
        <h2 class="govuk-heading-l">ILR User Journey</h2>
        
     
		<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>		   	
			<li><a href="choose_file_to_upload.html">Choose file to upload</a></li>
			<li><a href="your_files_uploading.html">Your file's uploading</a></li>
			<li><a href="theres_a_problem.html">There's a problem</a></li>			
			<li><a href="ilr_data_submitted.html">ILR data submitted</a></li>
            <li><a href="return-period.html">Reports</a></li>
		</ul>

		<!--<h2 class="govuk-heading-l">EAS (Happy Path)</h2>

		<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>
		   	<li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>
			<li><a href="manage_your_eas.html">Manage your earning adjustment statement</a></li>
			<li><a href="choose_programme.html">Choose programme</a></li>
			<li><a href="add_claim_details.html">Add claim details</a></li>
			<li><a href="manage_your_eas_added.html">Claim added</a></li>
            <li><a href="eas_data_submitted.html">EAS data submitted</a></li>
		</ul>-->


		<!--<h2 class="govuk-heading-l">ESF User Journey (Happy Path)</h2>
		
		<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>
		   	<li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>
			<li><a href="esf_choose_file_to_upload.html">Choose file to upload</a></li>
			<li><a href="your_files_uploading.html">Your file's uploading</a></li>
			<li><a href="esf_data_submitted.html">ESF data submitted</a></li>
            <li><a href="return-period.html">Reports</a></li>
			
		</ul>-->

	<h2 class="govuk-heading-l">ILR User Journey (Period is closed)</h2>
		
		<ul class="govuk-list govuk-list--number">
			<li><a href="start.html">Start page</a></li>
		  	<li><a href="idams.html">IDAMS</a></li>
		   	<!--<li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>-->
			<li><a href="choose_file_to_upload_closed.html">Choose file to upload (closed period)</a></li>
			<li><a href="your_files_uploading_closed.html">Your file's uploading (closed period)</a></li>
			<li><a href="theres_a_problem_closed.html">There's a problem (closed period)</a></li>			
			<li><a href="ilr_data_submitted_closed.html">ILR data submitted (closed period)</a></li>
            <li><a href="./ilr-email-for-provider-closed.html">ILR email for providers (closed period)</a></li>
		</ul>
        
        <h2 class="govuk-heading-l">Scenarios</h2>
		
		<ul class="govuk-list govuk-list--bullet">	
			<li><a href="what_data_do_you_want_to_submit_closed.html">Return window is closed (and no file can be submitted)</a></li>
            <!--<li><a href="./theres_a_problem_datamatch.html">Adding the data match report</a></li>-->
			
		</ul>
		
		<h2 class="govuk-heading-l">Service pages</h2>
		
		<ul class="govuk-list govuk-list--bullet">	
			<li><a href="problem_with_the_service.html">Sorry, there’s a problem with the service</a></li>
			
		</ul>
        <h2 class="govuk-heading-l">Emails</h2>
		
		<ul class="govuk-list govuk-list--bullet">	
			<li><a href="./ilr-email-for-provider.html">ILR email for provider (processing)</a></li>
            <li><a href="./ilr-email-for-provider-reports.html">ILR email for provider (view reports)</a></li>
            <li><a href="./ilr-email-for-provider-closed.html">ILR email for providers (closed period)</a></li>
			
		</ul>        
        <h2 class="govuk-heading-l">Feedback</h2>
		
		<ul class="govuk-list govuk-list--bullet">	
			<li><a href="exit-survey.html">Exit survey</a></li>
			
		</ul>
    </div>
</div>

{% endblock %}
