{% extends "./layout.html" %}

{% block beforeContent %}
  {% include "./includes/back_choose_file_to_upload.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<h1 class="govuk-heading-xl">ILR file not submitted<span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>

        <div class="govuk-inset-text">
            <p>You're unable to submit the file because it doesn't contain any valid learners.</p>
        </div>

	      <p><a href="./choose_file_to_upload.html">Go back and upload an updated file</a></p>


    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
