
{% extends "./layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Sorry, your file upload failed</h1>

		<p>Your data has not been saved.</p> 

		<p>You will need to <a href="choose_file_to_upload.html">upload your data again</a>.</p>
		<p>If you continue to have problems, contact the ESFA Service Desk for help and support.</p>


    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
