
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
Understand your payments
{% endblock %}

{% block content %}
<!-- <script src="/assets/javascripts/tt.js"></script> -->




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="information-banner" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="error-summary">
          
            <p class="govuk-body"><span id="bannerText" class="govuk-!-font-weight-bold">ESFA support desk is unavailable from midday to 1pm today:</span>
            <span id="bannerCont">we will monitor emails in case of emergencies.</span></p>
        </div>
    <!-- </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> -->

		<form action="choose_file_to_upload" method="get" class="form">
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
         What do you want to do?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-1" name="whattosubmit" type="radio" value="ilr">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-1">
        ILR (Individualised Learner Records): upload data
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-2" name="whattosubmit" type="radio" value="eas">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-2">
       EAS (Earnings Adjustment Statement): provide an update
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-3" name="whattosubmit" type="radio" value="esf">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-3">
       ESF (European Social Fund): upload supplementary data
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-3a" name="whattosubmit" type="radio" value="esf">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-3a">
       Funding claims: view and submit
      </label>
      </div>
      <div class="govuk-radios__divider">or</div>
         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-4" name="whattosubmit" type="radio" value="reports">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-4">
      Get your reports
      </label>
      </div>
      </div>
  </fieldset>
			</div>
<a href="#" id="continue" class="govuk-button">
  Continue
</a>

		</form>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_start.html" %}
      </div>
</div>

<script>

</script>

{% endblock %}
