.govuk-accordion {
  margin-bottom: 20px;
}
.govuk-accordion{
  .govuk-accordion{
    margin-left: 30px;
  }
}


@media (min-width: 40.0625em) {
  .govuk-accordion {
    margin-bottom: 30px;
  }
}

.govuk-accordion__section {
  padding-top: 15px;
}

.govuk-accordion__section-header {
  padding-bottom: 15px;
}

.govuk-accordion__section-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.govuk-accordion__section-button {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 15px;
}

@media print {
  .govuk-accordion__section-button {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-accordion__section-button {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .govuk-accordion__section-button {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.govuk-accordion__section-summary {
  margin-top: 10px;
  margin-bottom: 0;
}

.govuk-accordion__section-content > :last-child {
  margin-bottom: 0;
}

.js-enabled {
  .govuk-accordion {
    border-bottom: 1px solid #bfc1c3;
  }
  .govuk-accordion__section {
    padding-top: 0;
    border-top: 1px solid #bfc1c3;
  }
  .govuk-accordion__section-content {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .govuk-accordion__section--expanded > .govuk-accordion__section-content {
    display: block;
  }
  .govuk-accordion__open-all {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
    border-width: 0;
    color: #005ea5;
    background: none;
    cursor: pointer;
    &:focus {
      outline: 3px solid #ffbf47;
      outline-offset: 0;
      background-color: #ffbf47;
      background: none;
    }
  }
  .govuk-accordion__section-header {
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    &:hover {
      background-color: #f8f8f8;
    }
  }
  .govuk-accordion__section-header--focused {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
  }
  .govuk-accordion__section-button {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    border-width: 0;
    color: #005ea5;
    background: none;
    text-align: left;
    cursor: pointer;
    &:focus {
      outline: 3px solid #ffbf47;
      outline-offset: 0;
      background-color: #ffbf47;
      outline: none;
      background: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .govuk-accordion__controls {
    text-align: right;
  }
  .govuk-accordion__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    &:after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 25%;
      height: 25%;
      margin: auto;
      border: 2px solid transparent;
      background-color: #0b0c0c;
    }
    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 25%;
      height: 25%;
      margin: auto;
      border: 2px solid transparent;
      background-color: #0b0c0c;
      width: 100%;
    }
    &:after {
      height: 100%;
    }
  }
  .govuk-accordion__section--expanded > .govuk-accordion__icon:after {
    content: " ";
    display: none;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-accordion__section-content {
    padding-top: 15px;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-accordion__section-content {
    padding-bottom: 15px;
  }
}

@media print {
  .js-enabled .govuk-accordion__open-all {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-accordion__open-all {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .js-enabled .govuk-accordion__open-all {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .js-enabled .govuk-accordion__open-all {
    font-family: sans-serif;
  }
}

@media (hover: none) {
  .js-enabled .govuk-accordion__section-header:hover {
    background-color: initial;
  }
}

@media print {
  .js-enabled .govuk-accordion__section-button {
    font-family: sans-serif;
  }
}
