
{% extends "./layout.html" %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
    <form action="manage_your_eas_updated" method="get" class="form">
	     <h1 class="govuk-heading-xl">{{ data['easmonthselected'] }} 2018</h1>

       <div class="govuk-form-group govuk-!-margin-bottom-8">
        <label class="govuk-label" for="fundingline">
          <span class="govuk-caption-m">Funding stream</span>
        </label>
        <select class="govuk-select govuk-!-width-one-half" id="fundingstream" name="fundingstream" onchange="this.getElementsByTagName('option')[0].selected = 'selected'">
          <option value="0" selected>Carry-in apprenticeships</option>
          <option value="1">Procured and levy apprenticeships</option>
          <option value="2">16 to 18 traineeships</option>
          <option value="3">Adult education - traineeships and other learning</option>
          <option value="4">Advanced learner loans</option>
        </select>
       </div>

       <h2 class="govuk-heading-l">Carry-in Apprenticeship</h2>

       <table class="govuk-table govuk-table--allborders govuk-table--noinputborders">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Excess learning support</th>
            <th class="govuk-table__header" scope="col">Authorised claim - including audit adjustments</th>
            <th class="govuk-table__header" scope="col">Learner support</th>
            <th class="govuk-table__header" scope="col">Other</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">16-18 Apprenticeship Frameworks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618AF-ELS" name="1618AF-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618AF-AC" name="1618AF-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618AF-LS" name="1618AF-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--disabled">&nbsp;</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">16-18 Trailblazer Frameworks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618TF-ELS" name="1618TF-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--disabled">&nbsp;</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618TF-LS" name="1618TF-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618TF-O" name="1618TF-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">19-23 Apprenticeship Frameworks</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923AF-ELS" name="1923AF-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923AF-AC" name="1923AF-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--disabled">&nbsp;</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923AF-O" name="1923AF-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">19-23 Trailblazer Apprenticeships</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923TA-ELS" name="1923TA-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923TA-AC" name="1923TA-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923TA-LS" name="1923TA-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1923TA-O" name="1923TA-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">24+ Apprenticeship Frameworks</th>
            <td class="govuk-table__cell govuk-table__cell--disabled">&nbsp;</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24AF-AC" name="24AF-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24AF-LS" name="24AF-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24AF-O" name="24AF-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">24+ Trailblazer Apprenticeships</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24TA-ELS" name="24TA-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24TA-AC" name="24TA-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24TA-LS" name="24TA-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="24TA-O" name="24TA-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">16-18 Non-levy contracted Apprenticeships -<br>Non-procured delivery</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618NLCA-ELS" name="1618NLCA-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--disabled">&nbsp;</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618NLCA-LS" name="1618NLCA-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric"> 
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="1618NLCA-O" name="1618NLCA-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Adult Non-levy contracted Apprenticeships</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="ANLCA-ELS" name="ANLCA-ELS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="ANLCA-AC" name="ANLCA-AC" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="ANLCA-LS" name="ANLCA-LS" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <div class="govuk-form-group">
                 <input class="govuk-input govuk-!-width-two-thirds" id="ANLCA-O" name="ANLCA-O" value = "£0" type="text" onclick="this.value='';" onblur="if (this.value=='') {this.value='0'}; this.value='£'+this.value;">
              </div>
            </td>
          </tr>
        </tbody>
       </table>

		   <button class="govuk-button">
          Save
       </button>

       <p>
         <a href="manage_your_eas_noupdate">Cancel and go back</a>
       </p>
  		
    </form>
  </div>

</div>

{% endblock %}