
{% extends "./layout_backtowhat.html" %}



{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="your_files_uploading" method="get" class="form">
	  <h1 class="govuk-heading-xl">Choose EAS file to upload <span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>
		<p>Before uploading your file you should make sure that:</p>
		<ul class="govuk-list govuk-list--bullet">
      <li>it’s in a CSV format</li>
			<li>the data it contains is as complete as possible</li>
			<li>the data it contains is as accurate as possible</li>
		</ul>
	  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
        Upload a file
      </label>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      <input type="hidden" name="whattosubmit" value="#">
    </div>

        	<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="confirm">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="confirm">
        <label class="govuk-label govuk-checkboxes__label" for="confirm">
          I confirm that the above payments have been made and I hold appropriate evidence to substantiate them.
        </label>
      </div>
    </div>
  </fieldset>
</div>

	  <a href="./your_files_uploading_eas.html" class="govuk-button">
      Upload file
    </a>
  </form>
  </div>

  <div class="govuk-grid-column-one-third">
    {% include "./includes/sidebar_help_eas.html" %}
  </div>
</div>

{% endblock %}
