{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="account-info govuk-body">
            <div>
                <span class="your-name" id="bannerUserName">Sam Smith
                UKPRN:123456</span> <a class="account-link" href="./exit-survey" id="signout-link">Sign out</a>
            </div>
    
        </div>
<a href="./choose_file_to_upload.html" class="govuk-back-link">Back</a>