
{% extends "./layout_backtostart.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">FIS (Funding Information Service) tool</h1>
    <p>FIS is a desktop service application element of the Education and Skills Funding Agency’s data collections system which can be used by data providers to validate Individualised Learner Record (ILR) data</p>



    <p class="govuk-!-font-weight-bold"><a href="https://dsdownload.des.fasst.org.uk/Funding%20Information%20System%20Prerequisites.exe">Download the latest FIS tool</a></p>
    <span class="govuk-body">Last updated 22 July 2019</span>
<br><br><br>
    <!-- <h2 class="govuk-heading-s"></h2> -->
  <p>You can access the older versions of FIS on <a href="https://hub.fasst.org.uk/Pages/fis.aspx" target="_blank">The Hub</a></p>
    <table class="govuk-table">
  <!-- <caption class="govuk-table__caption">Older versions of the FIS tool</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Collection name</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Component Set Version</th>
      <!-- <th class="govuk-table__header govuk-table__header--numeric" scope="col">Rate for vehicles</th> -->
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1617_ILR_FIS Configuration</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1617_ILR_FIS Desktop Processing Service - 1.584.24746  (023)</td>
      <!-- <td class="govuk-table__cell govuk-table__cell--numeric">£125</td> -->
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1516_ILR_FIS Configuration</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1516_ILR_FIS Desktop Processing Service -
1.1270.23336 (026)</td>
      <!-- <td class="govuk-table__cell govuk-table__cell--numeric">£55</td> -->
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1415_ILR_FIS Configuration</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">1415_ILR_FIS Desktop Service Processing - 0.3.49.20760 (019)</td>
      <!-- <td class="govuk-table__cell govuk-table__cell--numeric">£95</td> -->
    </tr>


  </tbody>
</table>
  </div>



</div>

<script>

</script>

{% endblock %}
