<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>How to submit learner data: step by step - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-d31395a9030b68584b0a191af4b68cb7bef1bb6024898c719fb61241f9e18d0e.js" crossorigin="anonymous" integrity="sha256-0xOVqQMLaFhLChka9LaMt77xu2AkiYxxn7YSQfnhjQ4="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-6e6dfc5433c7e0ac577cd802a9d56375212001af5959ea3e5db046e4d267bd8e.css" crossorigin="anonymous" integrity="sha256-bm38VDPH4KxXfNgCqdVjdSEgAa9ZWeo+XbBG5NJnvY4=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-85b0cf27c8b6bd50b0239fc4a4814c8a20f09c96a19515366b598e401708e11a.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-32ffd719c7b62d7906a18f890d40cd011121f4156bae53e1227a54e35f5b6f1c.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-deb1350e4840e81ec071725509330a3df6cd1dda2a94c3470455fc40891ae58d.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-774f7d274d27182a629690248f3d33de4aab74e12244f02483d1343c5f7f7265.css" crossorigin="anonymous" integrity="sha256-d099J00nGCpilpAkjz0z3kqrdOEiRPAkg9E0PF9/cmU=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-69664fcdb706b1539567f3ae48254b55eed3832f7192468817bbb32112cc9ce7.css">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/collections/print-aed16bfa2678d96b6d11dafa03a35c30965df0bf6e5c23f4fb966a01310fdf52.css" crossorigin="anonymous" integrity="sha256-rtFr+iZ42WttEdr6A6NcMJZd8L9uXCP0+5ZqATEP31I=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="4UIslxcQf40lgtTdrxIZCYBhLc1ah0v22jm3VnTpkztcOSYdUqVZf/8Z6KdZ0JGnYSEg8VfhQZjkE9HoFfRy2g==">
<meta name="description" content="Learn to drive a car in the UK - get a provisional licence, take driving lessons, prepare for your theory test, book your practical test.">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie6-6e61bcfae59818775a00f35c64a95995b6df738bfd9d6410861e83dc2afbeb4b.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie7-c9bc6cb3bacca26394ba3546c5100eebf5a56cd9d5b0079c0105f55fb3dfd822.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie8-671c63bbd343d1bf6b8ca1a7e22075e75afd423256d12776f5a3906c52331420.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="collections">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div class="wrapper" id="wrapper">
        <div class="govuk-beta-label">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>
        This part of GOV.UK is being rebuilt – <a href="/help/beta">find out what beta means</a>
    </span>
  </p>
</div>

  
<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="gem-c-breadcrumbs__item ">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Home&quot;}" class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="gem-c-breadcrumbs__item ">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="" aria-current="false" href="/education">Education, training and skills</a>
    </li>

    <li class="gem-c-breadcrumbs__item ">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/further-and-higher-education-skills-and-vocational-training" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Further and higher education, skills and vocational training&quot;}" class="" aria-current="false" href="/education/further-and-higher-education-skills-and-vocational-training">Further and higher education, skills and vocational training</a>
    </li>

    <li class="gem-c-breadcrumbs__item gem-c-breadcrumbs--parent">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/further-education-financial-management-and-data-collection" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Further education financial management and data collection&quot;}" class="" aria-current="false" href="/education/further-education-financial-management-and-data-collection">Further education financial management and data collection</a>
    </li>
  </ol>
</div>



    <main id="content" role="main" class="content ">
      


<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title
  
  ">
  <h1 class="pub-c-title__text pub-c-title__text--long">
    How to submit learner data: step by step
  </h1>
</div>


    <div class="govuk-govspeak"><p>Collect, return and check the quality of learner data you submit to the ESFA.</p></div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
      <div data-module="gemtasklist" class="gem-c-task-list js-hidden gem-c-task-list--large">
    <ol class="gem-c-task-list__groups">
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 1
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="check-you're-allowed-to-drive" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="1.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Become a provider
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-check-you're-allowed-to-drive-1">
                  
                   <p class="gem-c-step-nav__paragraph">Information for organisations who want to offer apprenticeship or further education training funded by the Education and Skills Funding Agency (ESFA).</p>
<br>
              <ol class="gem-c-step-nav__list " data-length="3">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding">How to become an approved training provider and bid for funding </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.2" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/guidance/subcontracting-using-funding-to-offer-education-and-training">Subcontracting: using funding to offer education and training </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.3" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/government/collections/funding-education-for-16-to-19-year-olds">Funding education for 16- to 19-year-olds </a></li>
</ol>

              </div>

            </div>
        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 2
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="get-a-provisional-driving-licence" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="2.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Understand your contract
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-get-a-provisional-driving-licence-1">

                  <!--<p class="gem-c-task-list__paragraph">You submit your reports to HMRC using your accounting software.</p> 

                  <p class="gem-c-task-list__paragraph">You can <a href="../obligations">check your report deadlines</a> in your Business Tax Account.</p>-->


              </div>

            </div>
        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 3
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="driving-lessons-and-practice" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="3.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Get prepared
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-driving-lessons-and-practice-1">
                  
             <p class="gem-c-step-nav__paragraph">Useful tools and guidance to use when submitting learner data.</p>
<br>
              <ol class="gem-c-step-nav__list " data-length="3">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="#">18/19 ILR Learner Entry Tool (V1) </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.2" class="gem-c-step-nav__link js-link" href="https://hub.fasst.org.uk/Pages/fis.aspx">Funding information system (FIS) </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.3" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/guidance/sfa-funding-rules">SFA funding rules </a></li>
                  <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.4" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2017-to-2018">ILR guides and templates for 2017 to 2018 </a></li>
                  <li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.5" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/government/publications/earnings-adjustment-statement-eas-2017-to-2018">Earnings adjustment statement (EAS) 2017 to 2018 </a></li>
</ol>

              </div>

            </div>

        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 4
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="book-and-manage-your-theory-test" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="4.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Collect learner data
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-book-and-manage-your-theory-test-1">
                     <!--<p class="gem-c-task-list__paragraph">You submit your reports to HMRC using your accounting software.</p> 

                  <p class="gem-c-task-list__paragraph">You can <a href="../obligations">check your report deadlines</a> in your Business Tax Account.</p>-->

              </div>

            </div>
        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 5
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="book-and-manage-your-driving-test" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="5.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Check learner data
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-book-and-manage-your-driving-test-1">
                    <!--<p class="gem-c-task-list__paragraph">In your accounting software, you need to confirm that the	 information in your four reports is accurate.</p> 

	 <p class="gem-c-task-list__paragraph">If there are any mistakes in your reports, you can correct them before confirming they are accurate. 
</p>-->


                 


              </div>

            </div>
        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 6
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step " id="when-you-pass" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="6.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Submit learner data
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-when-you-pass-1">
                    <!--<p class="gem-c-task-list__paragraph">In your accounting software, you’ll need to add any extra sources of Income you haven’t sent HMRC in your four reports. 
</p>

                    
                  <p class="gem-c-task-list__paragraph">These extra sources will include income from:</p>


                    <ul class="gem-c-task-list__links gem-c-task-list__links--required list list-bullet" data-length="1" style="list-style-type: disc;padding-left: 20px;">
                        <li>
                          Savings
                        </li>
                        <li>Dividends
</li>
                        <li>Pensions 
</li>
</ul>
                  <p class="gem-c-task-list__paragraph">You may have already included those Income sources in your four reports. </p>-->


              </div>

            </div>
        </li>
        <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 7
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step" id="when-you-pass2" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="7.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Check your reports & remittance
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-when-you-pass-2">
                  <!--<p class="gem-c-task-list__paragraph">You can <a href="../view-previous.html">check your finalised tax bills</a> in your Business Tax Account and pay them there too. 

</p>

                  <p class="gem-c-task-list__paragraph">You can also use <a href="#">HMRC’s payments service</a>.</p>-->                 


              </div>

            </div>
        </li>
         <li class="gem-c-task-list__group ">
          <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
            <span class="gem-c-task-list__circle-inner">
              <span class="gem-c-task-list__circle-background">
                <span class="visuallyhidden">Step</span> 8
              </span>
            </span>
          </span>

            <div class="gem-c-task-list__step js-step" id="when-you-pass2" data-track-count="tasklistSection">

              <div class="gem-c-task-list__header js-toggle-panel" data-position="8.1">
                <h2 class="gem-c-task-list__title js-step-title">
                  Keep updated
                </h2>
              </div>

              <div class="gem-c-task-list__panel js-panel" id="step-panel-when-you-pass-2">
                 <p class="gem-c-step-nav__paragraph">Keep upto date with data collections.</p>
<br>
              <ol class="gem-c-step-nav__list " data-length="3">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/government/publications/sfa-inform">ESFA: Inform </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.2" class="gem-c-step-nav__link js-link" href="https://www.gov.uk/government/collections/skills-funding-agency-update">ESFA: update </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.3" class="gem-c-step-nav__link js-link" href="http://feconnect.sfa.bis.gov.uk/blog/">FEConnect blog </a></li>
</ol>              


              </div>

            </div>
        </li>
    </ol>
  </div>

  </div>
</div>
<br>
    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/learn-to-drive-a-car">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-395e36e8b50840dbe9f754bd87c5098de66e33f81061d9452420dbdb9ee760f1.js" crossorigin="anonymous" integrity="sha256-OV426LUIQNvp91S9h8UJjeZuM/gQYdlFJCDb257nYPE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-f064d14bd8bdbd0247972b404350af141b2daef30ee6570edc003e15d5aea5e2.js" crossorigin="anonymous" integrity="sha256-8GTRS9i9vQJHlytAQ1CvFBstrvMO5lcO3AA+FdWupeI="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b4d2c42a58bec8f6d153a702ea9164489c281c29ef63f3631ebb87dfa3562d78.js" crossorigin="anonymous" integrity="sha256-tNLEKli+yPbRU6cC6pFkSJwoHCnvY/NjHruH36NWLXg="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/collections/application-960c28e159cfe05cd127efd9d4db8c9c34a7f17a0a58913bfb3d11412f6d9ad7.js"></script>
</body>
</html>