{% extends "layout-summary.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "/beta/summary/R01",
text: "R01"
},
{
href: "/beta/summary/R02",
text: "R02"
},
{
href: "/beta/summary/R03",
text: "R03"
},
{
href: "/beta/summary/R04",
text: "R04"
},
{
href: "/beta/summary/R05",
text: "R05",
active: true
}
],
containerClasses: "govuk-width-container"
})
}}

{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
<a href="#" class="govuk-back-link">Back</a>
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    R05 December 2018
                </h1>

                {% include "./summary-parts/details.html" %}
                {% include "./summary-parts/heading-text.html" %}

                <h2 class="govuk-heading-m">
                    {{summaryContent.ytdTitle}}
                </h2>
                {% include "./summary-parts/ytd-intro.html" %}

                <table class="govuk-table govuk-!-margin-bottom-9">
                    {% include "./summary-parts/summary-ytd-title.html" %}
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Total earnings
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;157,500.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">ESFA planned payments to you
                            <span class="govuk-caption-m">
                                Excludes co-investment
                            </span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;144,750.00</td>
                    </tr>
                    </tbody>
                </table>

                <table class="govuk-table govuk-!-margin-bottom-9">
                    <caption class="govuk-table__caption">Year to date Co-Investment summary</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Total co-investment collected</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;7,050.00
                    </tr>

                    </tbody>
                </table>

                <h2 class="govuk-heading-m">{{summaryContent.periodTitle}} R05 December 2018</h2>

                {% include "./summary-parts/period-description.html" %}

                <table class="govuk-table">
                    <caption class="govuk-table__caption">{{summaryContent.periodSubTitle}}</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of learners</th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Total earnings for this period
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;31,500.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Earnings released from previous periods
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row" colspan="3">
                            Issues identified this period:
                        </th>
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Data locks</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Completion holdbacks</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Clawbacks</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Other/Known issues</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
                    </tr>
                    <tr class="govuk-table__row totals-row subtotal-row">
                        <th class="govuk-table__header" scope="row">ESFA planned payment</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;30,300.00
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Co-investment payments to collect
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;2,700.00</td>
                    </tr>
                    <tr class="govuk-table__row totals-row">
                        <th class="govuk-table__header  govuk-!-font-weight-bold" scope="row">Total</th>
                        <td colspan="2" class="govuk-table__cell govuk-table__cell--numeric  govuk-!-font-weight-bold">
                            &pound;33,000.00
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {% include "./summary-parts/summary-llv-text.html" %}

                <p>
                    <a href="https://docs.google.com/spreadsheets/d/1Z-BHN5dHE5J--lQ7yzSVvUaYw069P2GLjq5B2gxNv_Y/edit?usp=sharing"
                       role="button" target="_blank" draggable="false" class="govuk-button govuk-button--start">Download
                        R05 Learner Level View
                    </a>
                </p>
            </div>
        </div>
        {% include "./summary-parts/summary-guidance.html" %}

    </main>
</div>

{% endblock %}
