<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
Help using this page
    </span>
    </summary>
    <div class="govuk-details__text">
        <!-- You can use your apprenticeship earnings summary to: -->
        <!-- <ul>
            <li>look back at the running total earnings, planned ESFA payments and co-investment contributions that were calculated for each month of the funding year to date, based on the learner data you submitted
            </li>
            <li>identify the specific learners that affected your expected payment amounts or needed co-investment money collecting for them
            </li>
        </ul>
        For help understanding payments and earnings read our <a href="uyp-guidance">full guidance on understanding your apprenticeship earnings summary</a>. -->

        <!-- For further help, <a href="uyp-guidance" >read our guidance on understanding your apprenticeship earnings summary.</a> -->
        <p>Understand your payment guidance</p>

        <h2 class="govuk-heading-m">Total earnings for this period</h2>
            <p>
                <!-- The maximum calculated value of your learning delivery in the current period. -->
                The calculated value of your learning delivery for the latest complete month in this period,provided it falls within the current funding year
            </p>

            <h2 class="govuk-heading-m">Earnings released from previous periods</h2>
            <p>
                Earnings that are typically unlocked from a previous month they were not paid.
            </p>

            <h2 class="govuk-heading-m">Data locks</h2>
            <p>
                Data locks are caused by missing learner records on an ILR submission or where ILR information does not match the apprenticeship service.
            </p>

            <h2 class="govuk-heading-m">Completion holdbacks</h2>
            <p>An End Point Assessment has been completed but the required employer co-investment hasn’t been recorded on the ILR. The value represents the amount of completion earnings that have not been paid.</p>

            <h2 class="govuk-heading-m">Clawbacks</h2>
            <p>
                Where earnings have gone down from a previous period, your payments are reduced as a result.
            </p>

            <h2 class="govuk-heading-m">Other or known issues</h2>
            <p>
                    Issues not caused by data lock, completion holdback, clawback or anything listed on your summary. And you have not been paid enough to match your earnings.
            </p>

            <h2 class="govuk-heading-m">ESFA planned payment</h2>
            <p>Planned payments based on this ILR (does not include payments claimed from EAS) but calculated before considering the maximum contract values.</p>

            <h2 class="govuk-heading-m">Co-investment payments to collect</h2>
            <p>
                <!-- The proportion of your payment that must be provided by the employers, following the ESFA having made a coinvested payment. -->
                The portion of your payment that must be provided by the employer, following the ESFA having made a co-invested payment.
            </p>
    </div>
</details>