<!-- <h2 class="govuk-heading-m">
    Your learner level earnings and payments data
</h2>

<p>Your learner level view (Excel) allows you to see how your year to date and monthly totals break down to individual
    learners.</p>
<p>
    This can be useful for identifying the specific:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>learner records related to any issues identified in your monthly earnings breakdown</li>
    <li>learner records for which co-investment contributions needed collecting from employers - and the amounts of
        money
        that need collecting for each
    </li>
</ul>


<p class="govuk-!-margin-bottom-9">
</p> -->

<h2 class="govuk-heading-m">
    Download learner level earnings and payments data
</h2>
<p>This data provides your year to date and monthly totals break down to individual learners.</p>