
{% extends "./layout.html" %}

{% block beforeContent %}
  {% include "./includes/back_what_data_do_you_want_to_submit.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
    <form action="your_files_uploading" method="get" class="form">
	  <h1 class="govuk-heading-xl">Choose ESF file to upload <span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>
		<p>Before uploading your file you should make sure that:</p>
		<ul class="govuk-list govuk-list--bullet">
      <li>it’s in a CSV format</li>
     			<li>the data it contains is as complete as possible</li>
			<li>the data it contains is as accurate as possible</li>
		</ul>
	  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
        Upload a file
      </label>
          
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      <input type="hidden" name="whattosubmit" value="{{ data['whattosubmit'] }}">
           </div>     
         
    <p><a href="your_files_uploading_esf.html" class="govuk-button">
      Upload file
        </a></p>
  </form>
  </div>

  <div class="govuk-grid-column-one-third">
    {% include "./includes/sidebar_help_esf.html" %}
  </div>
</div>

{% endblock %}
