<div class="sticky-top">

  <ul class="govuk-list">
    <!-- <li class="dashboard-link">
      <a class="govuk-link " href="dashboard">Dashboard</a>
    </li> -->
    <div class="left-navigation-2">
    <li>
        <a id="0" class="govuk-link"  href="dashboard">Make a submission</a>
    </li>
    <li>
      <a id="1" class="govuk-link"  href="latest-submissions">Open returns</a>
    </li>
    <li>
      <a id="2" class="govuk-link" href="historical-in-period" >Closed returns: in-period</a>
    </li>
    <li>
      <a id="3" class="govuk-link" href="period-end" >Period end reports</a>
    </li>
    <li>
      <a id="4" class="govuk-link" href="qar" >QAR reports</a>
    </li>
    <li>
      <a id="5" class="govuk-link" href="frm" >FRM reports</a>
    </li>
    </div>
  </ul>

  
  
    <!-- <a class="govuk-!-font-size-16 back-to-top hidden" href="#"><svg focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top</a> -->


    <h2 class="govuk-heading-s" id="subsection-title">
        Related content
       </h2>
       <nav role="navigation" aria-labelledby="subsection-title">
         <ul class="govuk-list govuk-!-font-size-16 padding-left-11">
           <li>
             <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" target="_blank">
               How to become an approved training provider
             </a>
           </li>
           <li>
             <a href="https://www.gov.uk/government/collections/individualised-learner-record-ilr" target="_blank">
               Timetable of submission deadlines
             </a>
           </li>
         </ul>
       </nav>
    
    <h2 class="govuk-heading-s" id="subsection-title">
      Tools and services
     </h2>
     <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16 padding-left-11">
          <li>
            <a href="FIS-downloads" >
              FIS (Funding Information Service)
            </a>
          </li>
          <li>
            <a href="https://hub.fasst.org.uk/Learning%20Aims/Pages/default.aspx" target="_blank">
              LARS (Learning Aims Reference Service)
            </a>
          </li>
          <li>
            <a href="ILR-learner-entry-tool" >
              ILR Learner entry tool
            </a>
          </li>
          <li>
            <a href="amalgamation">
              ILR FileMerge
            </a>
          </li>
        </ul>
      </nav>


</div>

