
    <h2 class="govuk-heading-s" id="subsection-title">
        Related content
       </h2>
       <nav role="navigation" aria-labelledby="subsection-title">
         <ul class="govuk-list govuk-!-font-size-16">
           <li>
             <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" target="_blank">
               How to become an approved training provider
             </a>
           </li>
           <li>
             <a href="https://www.gov.uk/government/collections/individualised-learner-record-ilr" target="_blank">
               Timetable of submission deadlines
             </a>
           </li>
         </ul>
       </nav>
    
    <h2 class="govuk-heading-s" id="subsection-title">
      Tools and services
     </h2>
     <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="FIS-downloads" >
              FIS (Funding Information Service)
            </a>
          </li>
          <li>
            <a href="https://hub.fasst.org.uk/Learning%20Aims/Pages/default.aspx" target="_blank">
              LARS (Learning Aims Reference Service)
            </a>
          </li>
          <li>
            <a href="ILR-learner-entry-tool" >
              ILR Learner entry tool
            </a>
          </li>
          <li>
            <a href="amalgamation">
              ILR FileMerge
            </a>
          </li>
        </ul>
      </nav>



     
          



