{% extends "layout-summary.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "/beta/summary/R01",
text: "R01"
},
{
href: "/beta/summary/R02",
text: "R02"
},
{
href: "/beta/summary/R03",
text: "R03"
},
{
href: "/beta/summary/R04",
text: "R04"
},
{
href: "/beta/summary/R05",
text: "R05"
},
{
href: "/beta/summary/R06",
text: "R06",
active: true
},
{
href: "/beta/summary/R07",
text: "R07"
}
],
containerClasses: "govuk-width-container"
})
}}

{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
<a href="#" class="govuk-back-link">Back</a>
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <h1 class="govuk-heading-xl">
            R06 January 2019
        </h1>
        <p>
            View your historical earnings data for the year to date, including a running total of ESFA planned payments and co-investment contributions collected so far.
        </p>

        <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption">Your year to date apprenticeship earnings summary</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Total earnings to date</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;186,000.00
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Total expected payments to date</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;171,000.00
                </td>
            </tr>
            </tbody>
        </table>

        <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption">Co-Investment Summary year to date</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Co-Investment collected from employer to date</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;8,850.00
                </td>
            </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m">Current period (R06) Summary</h2>
        <table class="govuk-table">
            <caption class="govuk-table__caption">Summary of the current period</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of learners</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Total earnings for period
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;30,000.00
                </td>
            </tr>

            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Data locks</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Completion holdbacks</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Clawbacks</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">-&pound;1,350.00
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Other/Known issues</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;0.00</td>
            </tr>
            <tr class="govuk-table__row totals-row subtotal-row">
                <th class="govuk-table__header" scope="row">ESFA expected payment for this period</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;26,250.00
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Co-Investment calculated from employers for this period
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">16</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;2,400.00
                </td>
            </tr>
            <tr class="govuk-table__row totals-row">
                <th class="govuk-table__header  govuk-!-font-weight-bold" scope="row">Total</th>
                <td colspan="2" class="govuk-table__cell govuk-table__cell--numeric  govuk-!-font-weight-bold">&pound;28,650.00
                </td>
            </tr>
            </tbody>
        </table>


        <p>Click below to go to the Learner Level View for this period</p>
        <p>
            <a href="https://docs.google.com/spreadsheets/d/1tjNtn6cte-oPDYCqR61_IcdyoYNEoDoeCVkZwnsoy_8/edit?usp=sharing"
               role="button" target="_blank" draggable="false" class="govuk-button govuk-button--start">Download
                R06 Learner Level View
            </a>
        </p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full" id="guidance">
                <h2 class="govuk-heading-m">How to use this page</h2>
                <p>This is where the guidance will go</p>
            </div>
        </div>


    </main>
</div>

{% endblock %}
