
{% extends "layout_noback.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Curnchie 14.4.0 <p>14/10/2020</p></th>
      <td class="govuk-table__cell ">
          <p>Public Beta - 14/10/2020 - in progress</p>
          <p>Journey currently set to <span class="govuk-!-font-weight-bold" id="journey"></span></p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="14-4-0/esf-reprofiling.html">ESF reprofiling</a> design added</li>
            <li><a href="14-4-0/dashboard-dc.html">Devolved contracts</a> journey added</li>
          </ul>
      </td>
      <td class="govuk-table__cell "><a href="14-4-0/contents.html">Contents</a></td>
      <td class="govuk-table__cell "><a href="14-4-0/start.html">Start now</a></td>
  </tr>


      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Curnchie 14.3.2 <p>04/11/2019</p></th>
          <td class="govuk-table__cell ">
              <p>Public Beta - 12/09/2020 - in progress</p>
              <p>Journey currently set to <span class="govuk-!-font-weight-bold" id="journey"></span></p>
              <ul class="govuk-list govuk-list--bullet">
                  <li><a href="14-3-2/dashboard.html">Help and support</a> details updated</li>
                  <li><a href="14-3-2/start.html">Homepage contact details</a> updated with a new link</li>
                  <li><a href="14-3-2/edit-data.html">Funding claims</a> dashboard now with accessible code (see story 102457)</li>
                  <li><a href="14-3-2/historical-in-period.html">visually hidden cells</a> should be fine for accessibility (see story 104421)</li>
                  <li><a href="14-3-2/theres_a_problem.html">List items</a> now following recommendation (see story 102459)</li>
                  <li>Updated focus states see story 104779</li>
                  <li><a href="14-3-2/latest-submissions.html">Left navigation</a> extra div removed, see story 104820</li>
                  <li>Visually hidden elements added to <a href="14-3-2/latest-submissions.html">Latest submissions </a> and <a href="14-3-2/historical-in-period.html">Submission history </a> see story 104473 (Links not unique)</li>
                  <li><a href="14-3-2/choose_file_to_upload.html">Choose file to upload </a> horizontal scroll bar fixed </a> see story 104793 (Horizontal scrolling)</li>
                  <li>Details and summary <a href="https://www.smashingmagazine.com/2014/11/complete-polyfill-html5-details-element/"> polyfill example</a> see story 104813 (Horizontal scrolling)</li>
                  <li>FC Covid page <a href="14-3-2/covid-message.html">Updated</a> now has radio buttons including the <a href="14-3-2/final-year-sub-report.html">reports page</a></li>
                  <li>H3's removed and table captions added on all <a href="14-3-2/latest-submissions.html">Reports</a> pages. See story 104483</li>
                  <!-- <li><a href="14-3-2/understand-your-payments.html">UYP</a> updated content under the help section</li>
                  <li><a href="14-3-2/dashboard.html">dashboard</a> updated for closed periods to display tiles with relevant text</li>
                  <li><a href="14-3-2/theres_a_problem.html">Survey link</a> added for rule violation report</li>
                  <li><a href="14-3-2/theres_a_problem.html">violation report v2</a> added at stage 1</li>
                  <li><a href="14-3-2/theres_is_no_problem.html">New design</a> stage 1 page displaying no errors with a submit button</li>
                  <li><a href="14-3-2/dashboard.html">Tiles</a> content updated</li>
                  <li><a href="14-3-2/uyp-guidance.html">UYP guidance</a> content added</li> -->
                </ul>
              
          </td>
          <td class="govuk-table__cell "><a href="14-3-2/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-3-2/start.html">Start now</a></td>
      </tr>

      <!-- <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.8<p>03/10/2019</p></th>
          <td class="govuk-table__cell ">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-8/dashboard.html">Update to home page</a> removed QAR</li>
                <li><a href="14-2-8/choose_period_closed.html">Added closed period banner</a> with submission reports and </li>

              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-8/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-8/start.html">Start now</a></td>
      </tr>


      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.7<p>25/09/2019</p></th>
          <td class="govuk-table__cell ">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-7/dashboard.html">Update to home page</a> Submissions and reports moved into one link</li>
                <li><a href="14-2-7/historical-in-period.html">Update to links</a> with submission reports and </li>

              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-7/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-7/start.html">Start now</a></td>
      </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa Chery 14.2.6<p>20/09/2019</p></th>
      <td class="govuk-table__cell ">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="14-2-6/dashboard.html">New UX design</a> split submissions and reports</li>
          </ul>
      </td>
      <td class="govuk-table__cell "><a href="14-2-6/contents.html">Contents</a></td>
      <td class="govuk-table__cell "><a href="14-2-6/start.html">Start now</a></td>
  </tr>

      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.5<p>20/08/2019</p></th>
          <td class="govuk-table__cell ">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-5/dashboard.html">Different UX</a> all option on the homepage</li>
              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-5/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-5/start.html">Start now</a></td>
      </tr>

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Wispa Chery 14.2.4<p>20/08/2019</p></th>
        <td class="govuk-table__cell ">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-2-4/dashboard.html">Multiple tiles homepage</a> with a blue background 9 tiles</li>
              <li><a href="14-2-4/latest-submissions.html">Reports combined</a> in the reports page</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="14-2-4/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="14-2-4/start.html">Start now</a></td>
    </tr>

      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.3<p>15/08/2019</p></th>
          <td class="govuk-table__cell ">
              
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-3/dashboard.html">Multiple tiles homepage</a> with a blue background 5 tiles</li>
                <li><a href="14-2-3/latest-submissions.html">Reports combined</a> in the reports page</li>
              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-3/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-3/start.html">Start now</a></td>
      </tr>

      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.2<p>15/08/2019</p></th>
          <td class="govuk-table__cell ">
              
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-2/dashboard.html">Multiple tiles homepage</a> this contains 9 tiles</li>
                <li><a href="14-2-2/latest-submissions.html">Some reports now combined</a> in the reports page</li>
              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-2/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-2/start.html">Start now</a></td>
      </tr>


      <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Wispa Chery 14.2.1<p>15/08/2019</p></th>
          <td class="govuk-table__cell ">
              
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="14-2-1/dashboard.html">Content improvements</a></li>
                <li><a href="14-2-1/return-period.html">Some reports now combined</a> in the reports page</li>
              </ul>
          </td>
          <td class="govuk-table__cell "><a href="14-2-1/contents.html">Contents</a></td>
          <td class="govuk-table__cell "><a href="14-2-1/start.html">Start now</a></td>
      </tr>

  <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa Chery 14.1.1-b<p>06/08/2019</p></th>
      <td class="govuk-table__cell ">
          <p>Added more tiles and removed the left sidebar from Summary landing page</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-1-1-b/beta/summary/R01">Understand your payments</a> journey updated</li>

          </ul>
      </td>
      <td class="govuk-table__cell "><a href="14-1-1-b/contents.html">Contents</a></td>
      <td class="govuk-table__cell "><a href="14-1-1-b/start.html">Start now</a></td>
  </tr>
  <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa Chery 14.0.0-b<p>06/08/2019</p></th>
      <td class="govuk-table__cell ">
          <p>Updated the tiles prototype to include the R01-4, removed </p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-1-1/beta/summary/R01">Understand your payments</a> journey updated</li>

          </ul>
      </td>
      <td class="govuk-table__cell "><a href="14-0-0-b/contents.html">Contents</a></td>
      <td class="govuk-table__cell "><a href="14-0-0-b/start.html">Start now</a></td>
  </tr>
  <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa Chery 14.1.1<p>05/08/2019</p></th>
      <td class="govuk-table__cell ">
          <p>Public Beta - Understand your payments</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-1-1/beta/summary/R01">Understand your payments</a> journey updated</li>

          </ul>
      </td>
      <td class="govuk-table__cell "><a href="14-1-1/contents.html">Contents</a></td>
      <td class="govuk-table__cell "><a href="14-1-1/start.html">Start now</a></td>
  </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa 14.1.0<p>01/08/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - Understand your payments</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-1-0/beta/summary/R01">Understand your payments</a> journey added</li>
              <li><a href="14-1-0/start">New journey</a> design</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="14-1-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="14-1-0/start.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Wispa 14.0.0<p>29/07/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - Understand your payments</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="14-0-0/beta/summary/R01">Understand your payments</a> journey added</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="14-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="14-0-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Twix 13.0.0<p>03/06/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - Mayoral reports journey</p>
            <ul class="govuk-list govuk-list--bullet">
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="13-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="13-0-0/start.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Twix 12.0.0<p>27/12/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 07/01/19</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="12-0-0/start.html">Updated start page content</a></li>
                <li><a href="12-0-0/theres_a_problem.html">Removed error with grey box and added into exclamation text</a></li>
                <li><a href="12-0-0/ilr_data_submitted.html">Email info highlighted</a></li>
                <li><a href="12-0-0/return-period.html">Updated the table view to cards type view</a></li>
                <li><a href="12-0-0/"></a>Updated telephone number with a link</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="12-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./12-0-0/start.html">Start now</a></td>
    </tr>



    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.9.1<p>08/07/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - in progress 08/07/2019</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="11-9-1/return-period">Overlapping periods in separate years</a> design added</li>
              <li><a href="11-9-1/theres_a_problem">Known issues </a> made prominent</li>
              <li><a href="11-9-1/start">Tools and services </a> added in the right hand column</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-9-1/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-9-1/start.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.9.0<p>14/06/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - in progress 10/06/2019</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="11-9-0/return-period">Overlapping periods</a> design added</li>
              <li>Funding claims <a href="11-9-0/final-year-sub-report">updated submission reports</a></li>
              <li><a href="11-9-0/edit-data">Signed indicator</a> added</li>
              <li><a href="11-9-0/final-year-sub-report"></a>Submission reports all on a single page</li>
              <li><a href="11-9-0/return-period">ESF round 2</a> added in reports</li>
              <li><a href="11-9-0/ilr-int">ILR interstitial</a> added in before ILR upload page</li>
              <li><a href="11-9-0/choose_eas">EAS period option</a> added </li>
              <li><a href="11-9-0/return-period#qar-frm">QAR / FRM</a> tab added </li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-9-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-9-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.8.2<p>04/07/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - in progress 04/07/2019</p>
            <ul class="govuk-list govuk-list--bullet">

              <li><a href="11-8-2/return-period#past-week">Period end</a> report added</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-8-2/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-8-2/start.html">Start now</a></td>
    </tr> -->


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.8.1<p>04/07/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Public Beta - 04/07/2019</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="11-8-1/return-period">Overlapping periods in separate years</a> design added</li>
              <li>Funding claims <a href="11-8-1/final-year-sub-report">updated submission reports</a></li>
              <li><a href="11-8-1/edit-data">Signed indicator</a> added</li>
              <li><a href="11-8-1/final-year-sub-report"></a>Submission reports all on a single page</li>
              <li><a href="11-8-1/return-period">ESF round 2</a> added in reports</li>
              <li><a href="11-8-1/choose_eas">EAS period option</a> added</li>
              <li><a href="11-8-1/return-period#past-week">Period end</a> report added</li>
              <li><a href="11-8-1/amalgamation">ILR fileMerge survey</a> added</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-8-1/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-8-1/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.8.0<p>18/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <!-- <li><a href="11-8-0/start.html">Funding claims</a> added</li> -->
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-8-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-8-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.7.0<p>11/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-7-0/start.html">Funding claims</a> added</li>
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-7-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-7-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.6.0<p>04/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-6-0/fc-1-3-0/start.html">Funding claims</a> added</li>
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-6-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-6-0/start.html">Start now</a></td>
    </tr>


    <!-- <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.5.0<p>01/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-5-0/choose-period.html">ILR over lapping periods</a> added</li>
                <li><a href="11-5-0/return-period.html">ESF round 2</a> added</li>
                <li><a href="11-5-0/what_data_do_you_want_to_submit.html">Information banner</a> added</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-5-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-5-0/start.html">Start now</a></td>
    </tr> -->

  </tbody>
</table>


    </div>
</div>

{% endblock %}
