
{% extends "layout_noback.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!-- <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Twix 12.0.0<p>27/12/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 07/01/19</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="12-0-0/start.html">Updated start page content</a></li>
                <li><a href="12-0-0/theres_a_problem.html">Removed error with grey box and added into exclamation text</a></li>
                <li><a href="12-0-0/ilr_data_submitted.html">Email info highlighted</a></li>
                <li><a href="12-0-0/return-period.html">Updated the table view to cards type view</a></li>
                <li><a href="12-0-0/"></a>Updated telephone number with a link</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="12-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./12-0-0/start.html">Start now</a></td>
    </tr> -->

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Twix 13.0.0<p>03/06/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Alpha - Mayoral reports journey</p>
            <ul class="govuk-list govuk-list--bullet">

                <!-- <li>Funding claims <a href="11-9-0/final-year-sub-report">updated submission reports</a></li>
                <li><a href="11-9-0/edit-data">Signed indicator</a> added</li>
                <li><a href="11-9-0/final-year-sub-report"></a>Submission reports all on a single page</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="13-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="13-0-0/start.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.9.0<p>03/06/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - stopped version for Funding Claims 26/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="11-9-0/return-period">Overlapping periods</a> deisng added</li>  
              <li>Funding claims <a href="11-9-0/final-year-sub-report">updated submission reports</a></li>
              <li><a href="11-9-0/edit-data">Signed indicator</a> added</li>
              <li><a href="11-9-0/final-year-sub-report"></a>Submission reports all on a single page</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-9-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-9-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.8.0<p>18/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <!-- <li><a href="11-8-0/start.html">Funding claims</a> added</li> -->
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-8-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-8-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.7.0<p>11/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-7-0/start.html">Funding claims</a> added</li>
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-7-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-7-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.6.0<p>04/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-6-0/fc-1-3-0/start.html">Funding claims</a> added</li>
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-6-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-6-0/start.html">Start now</a></td>
    </tr>


    <!-- <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.5.0<p>01/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-5-0/choose-period.html">ILR over lapping periods</a> added</li>
                <li><a href="11-5-0/return-period.html">ESF round 2</a> added</li>
                <li><a href="11-5-0/what_data_do_you_want_to_submit.html">Information banner</a> added</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-5-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-5-0/start.html">Start now</a></td>
    </tr> -->

  </tbody>
</table>


    </div>
</div>

{% endblock %}
