
{% extends "layout_noback.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!-- <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Twix 12.0.0<p>27/12/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 07/01/19</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="12-0-0/start.html">Updated start page content</a></li>
                <li><a href="12-0-0/theres_a_problem.html">Removed error with grey box and added into exclamation text</a></li>
                <li><a href="12-0-0/ilr_data_submitted.html">Email info highlighted</a></li>
                <li><a href="12-0-0/return-period.html">Updated the table view to cards type view</a></li>
                <li><a href="12-0-0/"></a>Updated telephone number with a link</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="12-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./12-0-0/start.html">Start now</a></td>
    </tr> -->
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.6.0<p>01/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-6-0/fc-1-3-0/start.html">Funding claims</a> added</li>
                <!-- <li><a href="11-6-0/"></a> added</li>
                <li><a href="11-6-0/"></a> added</li> -->
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-6-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="11-6-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.5.0<p>01/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 01/04/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-5-0/choose-period.html">ILR over lapping periods</a> added</li>
                <li><a href="11-5-0/return-period.html">ESF round 2</a> added</li>
                <li><a href="11-5-0/what_data_do_you_want_to_submit.html">Information banner</a> added</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-5-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-5-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.4.0<p>15/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - in progress 31/01/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-4-0/return-period.html">Moved help and support to top of page</a></li>
                <li><a href="11-4-0/return-period.html">Updated content for paragraphs</a></li>
                <li><a href="11-4-0/return-period.html">Tables stretched to full width</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-4-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-4-0/start.html">Start now</a></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.3.0<p>15/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - Stopped 15/01/2019</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="11-3-0/return-period.html">Moved help and support to top of page</a></li>
                <li><a href="11-3-0/return-period.html">Updated content for paragraphs</a></li>
                <li><a href="11-3-0/return-period.html">Tables stretched to full width</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-3-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-3-0/start.html">Start now</a></td>
    </tr>


    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.2.0<p>28/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - stopped 01/12/18</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updated back buttons to go to specific pages</li>
                <li><a href="11-2-0/start.html">Updated start page content</a></li>
                <li><a href="11-2-0/return-period.html">Added reports history and tabs</a></li>
                <li><a href="11-2-0/eas_choose_file_to_upload.html">Removed link</a>,changed H1 and updated sidebar links</li>
                <li><a href="11-2-0/esf_choose_file_to_upload.html">Removed link</a>, changed H1 and updated sidebar links</li>
                <li><a href="11-2-0/choose_file_to_upload.html">ILR specification link updated in sidebar</a></li>
                <li><a href="11-2-0/eas_data_submitted.html">Added file</a></li>
                <li>Accessibility updates - in situ</li>
                <li>Apps Data match removed</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-2-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-2-0/start.html">Start now</a></td>
    </tr>
            <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.1.0<p>08/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - stopped 19/11/18</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="11-1-0/theres_a_problem_datamatch.html">Updated 'theres a problem' page - with app data match</a></li>
                <li><a href="11-1-0/theres_a_problem.html">Updated 'theres a problem' page - withOUT app data match</a></li>
                <li><a href="11-1-0/return-period.html">Added 'submitted by' to the submissions history table</a></li>
                <li><a href="11-1-0/choose_file_to_upload.html">Added 'submission history' to the choose file to upload page</a></li>
                <li><a href="11-1-0/ilr_data_submitted.html">Updated submitted confirmation page (replicate over all collections)</a></li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-1-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-1-0/start.html">Start now</a></td>
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Fudge 11.0.0<p>01/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Private Beta - stopped 06/11/2018</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="11-0-0/theres_a_problem_datamatch.html">moved data match to validation stage</a></li>
                <li><a href="11-0-0/theres_a_problem.html">iterated content slightly on problem page to cope with data match when added</a></li>
                  <li><a href="11-0-0/return-period.html">updated submission history functionality to include reports and added funding summary values</a></li>
                <li><a href="11-0-0/what_data_do_you_want_to_submit.html">Iterated content and added 'reports' radio</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="11-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./11-0-0/start.html">Start now</a></td>
    </tr>
          <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.8<p>22/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>MVS - Stopped as of 23/10/18</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>reintroduced EAS</li>
                <li>reintroduced ESF</li>
                <li>reintroduced 'what do you want to submit'</li>
                <li>rolled back the start page to include 3 collections</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-8/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-8/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.7<p>16/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>MVS - locked down as of 17/10/18</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>removed the blue banner</li>
                <li>consolidated the reports into one zip file</li>
                <li>removed ESF</li>
                <li>removed 'what do you want to submit'</li>
                <li>updated the start page</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-7/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-7/start.html">Start now</a></td>
    </tr>
 <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Caramac 10.0.0<p>15/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Caramac is an MVS based on ILR, EAS and ESF supplimentary collections types only. All reports are available.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>added submission history to reports page</li>
                <li>iterated reports area</li>
                <li>iterated period closed scenario</li>
                <li>added overlapping periods</li>
                <li>reports archive</li>
                <li>multiple upload for ESF</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="10-0-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="10-0-0/start.html">Start now</a></td>
    </tr>
       <tr class="govuk-table__row">
         <th class="govuk-table__header" scope="row">Kit Kat 9.4.2<p>This is not MVS, for testing only.</p><p>10/10/2018</p></th>
        <td class="govuk-table__cell ">
          <ul class="govuk-list govuk-list--bullet">
           <p>We added:</p>
            <li>period closed</li>
            <li>iteration of the reports pages</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-2/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-2/start.html">Start now</a></td>
    </tr>
     <tr class="govuk-table__row">
         <th class="govuk-table__header" scope="row">Kit Kat 9.4.1<p>This is not MVS, for testing only.</p><p>03/10/2018</p></th>
        <td class="govuk-table__cell ">
          <ul class="govuk-list govuk-list--bullet">
           <p>We added:</p>
            <li>multiple uploads for ESF</li>
            <li>iterated uploading page</li>
            <li>iteration of the reports pages</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-1/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-1/start.html">Start now</a></td>
    </tr>

       <tr class="govuk-table__row">
           <th class="govuk-table__header" scope="row">Kit Kat 9.4.0 <p>This is not MVS, for testing only.</p><p>17/09/2018</p></th>
        <td class="govuk-table__cell ">
          <ul class="govuk-list govuk-list--bullet">
            <p>We added:</p>
            <li>email template</li>
            <li>step by step concept</li>
            <li>reports only journey options</li>
            <li>communication banner</li>
            <li>new reports page</li>
            <li>EAS as a file upload</li>
            <li>updated file loading page</li>
            <li>exit survey</li>
            <li>updated sidebar</li>
            <li>downloads history</li>
            <li>useful tools page | not MVP</li>
            <li>account info and sign out</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="KitKat-9-4-0/start.html">Start now</a></td>
    </tr>
               <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.6<p>10/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Stopped version for MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>added submission history to reports page</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-6/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-6/start.html">Start now</a></td>
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.5<p>06/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Stopped version for MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>added simple reports journey</li>
                <li>update to email to point to reports page</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-5/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-5/start.html">Start now</a></td>
    </tr>
         <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.4<p>05/10/2018</p></th>
        <td class="govuk-table__cell ">
         Stopped version for MVS - added 'return period closed' journey
        </td>
        <td class="govuk-table__cell "><a href="9-3-4/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-4/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.3<p>04/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Stopped version for MVS - removed reports and EAS</p>
        </td>
        <td class="govuk-table__cell "><a href="9-3-3/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-3/start.html">Start now</a></td>
    </tr>
          <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.2<p>07/09/2018</p></th>
        <td class="govuk-table__cell">
            <p>Testing was done using Axure for EAS then moved the the ptype for development.</p>
            We:
          <ul class="govuk-list govuk-list--bullet">
            <li>added the EAS journey</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-1/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-1/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.1<p>09/08/2018</p></th>
        <td class="govuk-table__cell ">
            We:
          <ul class="govuk-list govuk-list--bullet">
            <li>added the EAS journey</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-1/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-1/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.3.0<p>07/08/2018</p></th>
        <td class="govuk-table__cell ">
            We:
          <ul class="govuk-list govuk-list--bullet">

            <li>added EAS screenshots</li>
            <li>enabled the ESF journey</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-3-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-3-0/start.html">Start now</a></td>
    </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.2.5<p>01/08/2018</p></th>
        <td class="govuk-table__cell ">


         Stopped version based on 9-2-0

        </td>
        <td class="govuk-table__cell "><a href="9-2-5/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-2-5/start.html">Start now</a></td>
    </tr>
	  <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.2.0 <p>01/08/2018</p></th>
    		<td class="govuk-table__cell ">
                We:
          <ul class="govuk-list govuk-list--bullet">
            <li>updated the content</li>
              <li>(inc. addition of error summary<br>& warning to the 'There's a problem'<br>page)</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-2-0/contents.html">Contents</a></td>
		    <td class="govuk-table__cell "><a href="./9-2-0/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.1.5 <p>30/07/2018</p></th>
        <td class="govuk-table__cell ">


          Stopped version based on 9-1-0

        </td>
        <td class="govuk-table__cell "><a href="9-1-5/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-1-5/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.1.0<p>30/07/2018</p></th>
        <td class="govuk-table__cell ">
            We:
          <ul class="govuk-list govuk-list--bullet">

            <li>updated the content</li>
            <li>added EAS and ESF flow</li>
          </ul>
        </td>
        <td class="govuk-table__cell "><a href="9-1-0/contents.html">Contents</a></td>
        <td class="govuk-table__cell "><a href="./9-1-0/start.html">Start now</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.0.0<p>13/07/2018</p></th>
		<td class="govuk-table__cell ">
			We:
            <ul class="govuk-list govuk-list--bullet">
  <li>updated the content</li>
  <li>split out error and submission pages</li>
  <li>used the new design system</li>
</ul></td>
      <td class="govuk-table__cell "><a href="9-0-0/contents.html">Contents</a></td>
		 <td class="govuk-table__cell "><a href="./9-0-0/start.html">
  Start now
</a></td>
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Previous prototype for Alpha</th>
		<td class="govuk-table__cell "><a href="https://datacollectionsalpha.herokuapp.com/">Homepage</a>
 </td>
      <td class="govuk-table__cell "></td>
           <td class="govuk-table__cell "></td>


    </tr>

  </tbody>
</table>


    </div>
</div>

{% endblock %}
