<div class="flex space-between">
<nav class="top-nav">
    <ul class="govuk-list flex">
        <li>
            <a id="0" class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="dashboard">Make a submission</a>
        </li>
        <li>
            <a id="1" class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="dash-2">View reports and data</a>
        </li>
        
    </ul>

</nav>

<div class="govuk-body account-info">
            <div>
                <span class="your-name" id="bannerUserName">Sam Smith
                UKPRN:123456</span> <a class="account-link" href="./exit-survey" id="signout-link">Sign out</a>
            </div>
   
    
        </div>

	
    </div>