
{% extends "./layout.html" %}

{% block beforeContent %}
  {% include "./includes/back_choose_file_to_upload.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	<div class="govuk-error-summary" aria-labelledby="error-summary-title" data-module="error-summary">
		  <h2 class="govuk-error-summary__title" id="error-summary-title">
		    Statement not updated
		  </h2>
		  <div class="govuk-error-summary__body">
		    <ul class="govuk-list govuk-error-summary__list">
		      <li>
		        <p>There are errors in your file.</p>
		      </li>
		    </ul>
		  </div>
		</div>
	
		<h1 class="govuk-heading-xl">Problems with your data<span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>

		<p id="error"><span class="govuk-!-font-weight-bold">Total rows in file</span>: 263</p>

		<p><span class="govuk-!-font-weight-bold">Total errors</span>: 15 (affecting 14 learners) </p>	
		

	<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="confirm">    
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="confirm">
        <label class="govuk-label govuk-checkboxes__label" for="confirm">
          I confirm that the above payments have been made and I hold appropriate evidence to substantiate them.
        </label>
      </div>      
    </div>
  </fieldset>
</div>
		
		<a href="./eas_data_submitted.html" type="submit" class="govuk-button">
	      Submit anyway
	    </a>

		<p><a href="./choose_file_to_upload.html">Go back and upload an updated file</a></p>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
